<div class="item-controls" data-item-id="{{id}}">
  {{#if view}}
  <a class="item-control item-edit" title="{{localize 'k4lt.EditItem'}}"><i class="fas fa-eye"></i></a>
  {{/if}}
  {{#if show}}
  <a class="item-control item-show" title="{{localize 'k4lt.ShowItem'}}"><i class="fa-solid fa-microphone-lines"></i></a>
  {{/if}}
  {{#if (test isGM "||" trash)}}
  <a class="item-control item-delete" title="{{localize 'k4lt.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  {{/if}}
</div>
