<div class="roll-results-block">
  {{#if isGM}}<label>{{localize "k4lt.Results"}}:</label>{{/if}}
  <div class="results-input">
    <div class="editor-row complete-success-row {{#unless isGM}}uneditable{{/unless}}">
      <label>15+:</label>
      <div>{{editor system.completesuccess target="system.completesuccess" button=true owner=owner
        editable=isGM}}</div>
    </div>
    <div class="editor-row partial-success-row {{#unless isGM}}uneditable{{/unless}}">
      <label>10-14:</label>
      <div>{{editor system.partialsuccess target="system.partialsuccess" button=true owner=owner editable=isGM}}
      </div>
    </div>
    <div class="editor-row failure-row {{#unless isGM}}uneditable{{/unless}}">
      <label>0-9</label>
      <div>{{editor system.failure target="system.failure" button=true owner=owner editable=isGM}}</div>
    </div>
  </div>
</div>
