<div>
  <label>{{localize "k4lt.Results"}}:</label>
  <div class="results-input">
    <div class="editor-row">
      <label>15+:</label>
      <div>{{editor system.completesuccess target="system.completesuccess" button=true owner=owner
        editable=editable}}</div>
    </div>
    <div class="editor-row">
      <label>10-14:</label>
      <div>{{editor system.partialsuccess target="system.partialsuccess" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="editor-row">
      <label>0-9</label>
      <div>{{editor system.failure target="system.failure" button=true owner=owner editable=editable}}</div>
    </div>
  </div>
</div>
