<div class="item-controls" data-item-id="{{id}}">
  {{#if show}}
  <a class="item-control item-show" title="{{localize 'k4lt.ShowItem'}}">chat</a>
  {{/if}}
  {{#if (test isGM "||" trash)}}
  <a class="item-control item-delete" title="REMOVE"><i class="fa-solid fa-square-x"></i></a>
  {{/if}}
</div>
