<div class="special-flag-row">
  <label>{{localize "k4lt.SpecialMove"}}:</label>
  <select name="system.specialflag">
    {{selectOptions specialMoveValues selected=system.specialflag valueAttr="value" labelAttr="label"}}
  </select>
</div>
