/* #region Color Definitions */
:root {
  --K4-ddGOLD:rgb(58, 54, 41);
  --K4-dGOLD:rgb(104, 97, 74);
  --K4-GOLD: rgb(150, 140, 106);
  --K4-bGOLD: rgb(203, 189, 143);
  --K4-bbGOLD: rgb(203, 189, 143);
  --K4-ddRED: rgb(38, 8, 8);
  --K4-dRED: rgb(97, 20, 20);
  --K4-RED: rgb(155, 33, 33);
  --K4-bRED: rgb(205, 47, 43);
  --K4-bbRED: rgb(255, 124, 114);
  --K4-ddBLUE: rgb(9, 18, 29);
  --K4-dBLUE: rgb(26, 51, 84);
  --K4-BLUE: rgb(43, 85, 139);
  --K4-bBLUE: rgb(61, 121, 197);
  --K4-bbBLUE: rgb(119, 179, 255);
  --K4-BLACK: rgb(20, 20, 20);
  --K4-dBLACK: rgb(0, 0, 0);
  --K4-GREY: rgb(128, 128, 128);
  --K4-bGREY: rgb(180, 180, 180);
  --K4-WHITE: rgb(235, 235, 235);
  --K4-bWHITE: rgb(255, 255, 255);
}
/* #endregion */
