@use "mixins" as *;

/* COLOR PALETTE & DEFAULT FOUNDRY OVERRIDES */
:root {
  --K4-ddGOLD:rgb(58, 54, 41);
  --K4-dGOLD:rgb(104, 97, 74);
  --K4-GOLD: rgb(150, 140, 106);
  --K4-bGOLD: rgb(203, 189, 143);
  --K4-bbGOLD: rgb(235, 222, 179);
  --K4-ddRED: rgb(38, 8, 8);
  --K4-dRED: rgb(97, 20, 20);
  --K4-RED: rgb(155, 33, 33);
  --K4-bRED: rgb(205, 47, 43);
  --K4-bbRED: rgb(255, 124, 114);
  --K4-ddBLUE: rgb(9, 18, 29);
  --K4-dBLUE: rgb(26, 51, 84);
  --K4-BLUE: rgb(43, 85, 139);
  --K4-bBLUE: rgb(61, 121, 197);
  --K4-bbBLUE: rgb(119, 179, 255);
  --K4-BLACK: rgb(20, 20, 20);
  --K4-dBLACK: rgb(0, 0, 0);
  --K4-GREY: rgb(128, 128, 128);
  --K4-bGREY: rgb(180, 180, 180);
  --K4-WHITE: rgb(235, 235, 235);
  --K4-bWHITE: rgb(255, 255, 255);

  @include set-default-theme();
  --color-text-light-primary: var(--K4-color-primary);
	--color-text-light-highlight: var(--K4-color-primary-glow); // var(--K4-color-primary-bright); // #f0f0e0;
  --color-text-light-heading: var(--K4-color-primary-bright); // #c9c7b8;

  --chat-text-color-dark: var(--K4-color-primary-bright); // var(--K4-color-contrast-high); // #191813;

  --color-text-dark-primary: var(--K4-color-primary-bright);
  --color-text-dark-secondary: var(--K4-color-primary); // var(--K4-color-contrast-low); // #4b4a44;
  --color-text-dark-header: var(--K4-color-contrast); // #23221d;
  --color-text-dark-inactive: var(--K4-GREY);

  --color-text-hyperlink: var(--K4-color-keyword); // #ff6400;

  --color-text-light-0: var(--K4-bWHITE);
  --color-text-light-1: var(--K4-WHITEt); // #eee;
  --color-text-light-2: var(--K4-color-primary-glow); // #ddd;
  --color-text-light-3: var(--K4-color-primary-glow); // #ccc;
  --color-text-light-4: var(--K4-color-primary-bright); // #bbb;
  --color-text-light-5: var(--K4-color-primary-bright); // #aaa;
  --color-text-light-6: var(--K4-color-primary); // #999;
  --color-text-light-7: var(--K4-color-primary); // #888;

  --color-text-dark-1: var(--K4-color-contrast); // #111;
  --color-text-dark-2: var(--K4-color-contrast); // #222;
  --color-text-dark-3: var(--K4-color-contrast-low); // #444;
  --color-text-dark-4: var(--K4-color-contrast-low); //  #555;
  --color-text-dark-5: var(--K4-color-contrast-low); //  #666;
  --color-text-dark-6: var(--K4-color-contrast-low); //  #777;

  --color-border-light-1: var(--K4-color-primary-bright); // #ddd;
  --color-border-light-2: var(--K4-color-primary); // #999;
  --color-border-dark-1: var(--K4-color-primary); // #111;
  --color-border-dark-2: var(--K4-color-primary); // #222;
  --color-border-dark-3: var(--K4-color-primary-dark); // #333;
  --color-border-dark-4: var(--K4-color-primary-dark); // #444;
  --color-border-dark-5: var(--K4-color-primary-dark); // #666;
  --color-shadow-primary: var(--K4-color-primary); // #ff0000;
  --color-shadow-highlight: var(--K4-color-primary-bright); // #ff6400;
  --color-shadow-dark: var(--K4-color-contrast-high); // #000;
  --color-underline-inactive: var(--K4-color-primary-dark); // #7a7971;
  --color-underline-active: var(--K4-color-keyword-bright); // #426899;
  --color-underline-header: var(--K4-color-primary); // #782e22;
  --color-border-light-highlight: var(--K4-color-primary-glow);
  --color-border-light-primary: var(--K4-color-primary-bright); // #e4ddc3;
  --color-border-light-secondary: var(--K4-color-primary-bright); // #c9c7b8;
  --color-border-light-tertiary: var(--K4-color-primary); // #7a7971;
  --color-border-dark: #000;
  --color-border-dark-primary: var(--K4-color-contrast); // #191813;
  --color-border-dark-secondary: var(--K4-color-contrast-low); // #23221d;
  --color-border-dark-tertiary: var(--K4-color-contrast-low); // #4b4a44;
  --color-border-highlight: var(--K4-color-primary-bright); // #ff6400;
  --color-border-highlight-alt: var(--K4-color-primary-bright); // #ff0000;
  --color-bg-btn-minor-inactive: var(--K4-color-primary-bright); // #c9c7b8;
  --color-bg-btn-minor-active: var(--K4-color-primary-bright); // #c9c7b8;
  --color-bg-option: var(--K4-color-primary-bright);
}

.k4-theme-gold, .k4-theme-bgold {
	@include set-default-theme();

  &.k4-theme-bgold {
    --K4-color-primary: var(--K4-bGOLD);
    --K4-color-contrast: var(--K4-dBLACK);
    --K4-bg-inset: transparent #{to-url("backgrounds/bg-gold.webp")} repeat repeat center center/1000px 1000px;
  }
}

.k4-theme-white {
	--K4-color-primary: var(--K4-BLACK);
	--K4-color-primary-bright: var(--K4-dBLACK);
	--K4-color-primary-glow: var(--K4-dBLACK);
	--K4-color-primary-dark: var(--K4-dGOLD);

	--K4-color-contrast: var(--K4-WHITE);
	--K4-color-contrast-low: var(--K4-bGREY);
	--K4-color-contrast-high: var(--K4-bWHITE);

	--K4-font-primary: var(--font-primary);
	--K4-font-weight-primary: #{$font-weight-normal};

	--K4-color-title-fg: var(--K4-color-primary-bright);
	--K4-color-header: var(--K4-RED);

	--K4-list-indent: 12px;
	--K4-bg: transparent #{to-url("backgrounds/bg-item-white.webp")} no-repeat no-repeat center center / 100% 100%;
	--K4-bg-inset: transparent #{to-url("backgrounds/bg-white.webp")} repeat repeat center center/1000px 1000px;
	--K4-bullet: transparent #{to-url("icons/bullets/bullet-gold.svg")} no-repeat center center/calc(0.5 * var(--K4-list-indent));

	--K4-strip-main-color-fg: var(--K4-color-primary-bright);
	--K4-strip-main-color-bg: var(--K4-color-contrast);
	--K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
	--K4-strip-button-color-fg: var(--K4-color-contrast);
	--K4-strip-button-color-bg: var(--K4-color-primary);
	--K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
	--K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
	--K4-strip-tooltip-color-fg: var(--K4-bWHITE);
	--K4-strip-tooltip-color-bg: var(--K4-dBLACK);

	--K4-color-keyword: var(--K4-BLUE);
	--K4-color-keyword-bright: var(--K4-ddBLUE);
	--K4-color-pos: var(--K4-BLUE);
	--K4-color-neg: var(--K4-RED);

  .icon-container .chat-icon {
    background: var(--K4-GREY) !important;
  }

  .text-negmod, .text-gmtext, .text-negmod + .text-keyword {
    color: var(--K4-RED) !important;
    text-shadow: none !important;
  }

  .text-posmod, .text-posmod + .text-keyword {
    color: var(--K4-bBLUE) !important;
    text-shadow: none !important;
  }

	// --K4-icon-fill: var(--K4-color-primary);
	// --K4-icon-bg-color: var(--K4-color-contrast);
	// --K4-icon-clip-path: circle(closest-side);
	// --K4-icon-outline-color-color: transparent;
}


.k4-theme-blue {
	--K4-color-primary: var(--K4-bWHITE);
	--K4-color-primary-bright: var(--K4-bWHITE);
	--K4-color-primary-glow: var(--K4-bBLUE);

	--K4-color-contrast: var(--K4-WHITE);
	--K4-color-contrast-low: var(--K4-bGOLD);
	--K4-color-contrast-high: var(--K4-bWHITE);

	--K4-font-primary: var(--font-primary);
	--K4-font-weight-primary: #{$font-weight-normal};

	--K4-color-title-fg: var(--K4-color-primary-bright);
	--K4-color-header: var(--K4-RED);

	--K4-list-indent: 12px;
	--K4-bg: transparent #{to-url("backgrounds/bg-item-white.webp")} no-repeat no-repeat center center / 100% 100%;
	--K4-bg-inset: transparent #{to-url("backgrounds/bg-white.webp")} repeat repeat center center/1000px 1000px;
	--K4-bullet: transparent #{to-url("icons/bullets/bullet-gold.svg")} no-repeat center center/calc(0.5 * var(--K4-list-indent));

	--K4-strip-main-color-fg: var(--K4-color-primary-bright);
	--K4-strip-main-color-bg: var(--K4-color-contrast);
	--K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
	--K4-strip-button-color-fg: var(--K4-color-contrast);
	--K4-strip-button-color-bg: var(--K4-color-primary);
	--K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
	--K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
	--K4-strip-tooltip-color-fg: var(--K4-bWHITE);
	--K4-strip-tooltip-color-bg: var(--K4-dBLACK);

	--K4-color-keyword: var(--K4-BLUE);
	--K4-color-keyword-bright: var(--K4-ddBLUE);
	--K4-color-pos: var(--K4-BLUE);
	--K4-color-neg: var(--K4-RED);

	// --K4-icon-fill: var(--K4-color-primary);
	// --K4-icon-bg-color: var(--K4-color-contrast);
	// --K4-icon-clip-path: circle(closest-side);
	// --K4-icon-outline-color-color: transparent;
}

.k4-theme-dark, .k4-theme-black {
	--K4-color-primary: var(--K4-GREY8);
	--K4-color-primary-bright: var(--K4-bWHITE);
	--K4-color-primary-glow: var(--K4-bWHITE);
  --K4-color-primary-dark: var(--K4-GREY4);

	--K4-color-contrast: var(--K4-BLACK);
	--K4-color-contrast-low: var(--K4-ddGOLD);
	--K4-color-contrast-high: var(--K4-dBLACK);

	--K4-font-primary: var(--font-primary);
	--K4-font-weight-primary: #{$font-weight-normal};

  --K4-color-title-fg: var(--K4-color-primary-bright);
	--K4-color-title-bg: transparent;
	--K4-color-header: var(--K4-bRED);

	--K4-list-indent: 12px;
	--K4-bg: transparent #{to-url("backgrounds/bg-item-dark.webp")} no-repeat no-repeat center center / 100% 100%;
	--K4-bg-inset: transparent #{to-url("backgrounds/bg-dark.webp")} repeat repeat center center/1000px 1000px;
	--K4-bullet: transparent #{to-url("icons/bullets/bullet-white.svg")} no-repeat center center/calc(0.5 * var(--K4-list-indent));

	--K4-strip-main-color-fg: var(--K4-color-primary);
	--K4-strip-main-color-bg: var(--K4-color-contrast);
	--K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
	--K4-strip-button-color-fg: var(--K4-color-contrast);
	--K4-strip-button-color-bg: var(--K4-color-primary);
	--K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
	--K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
	--K4-strip-tooltip-color-fg: var(--K4-bWHITE);
	--K4-strip-tooltip-color-bg: var(--K4-dBLACK);

	--K4-color-keyword: var(--K4-bWHITE);
	--K4-color-keyword-bright: var(--K4-bWHITE);
	--K4-color-pos: var(--K4-bWHITE);
	--K4-color-neg: var(--K4-bRED);

	// --K4-icon-fill: var(--K4-color-primary);
	// --K4-icon-bg-color: var(--K4-color-contrast);
	// --K4-icon-clip-path: circle(closest-side);
	// --K4-icon-outline-color-color: transparent;

  &.k4-theme-black {
    // --K4-color-primary: var(--K4-bWHITE);
    --K4-color-contrast: var(--K4-dBLACK);
    --K4-bg-inset: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat repeat center center/1000px 1000px;
  }
}

.k4-theme-red {
	--K4-color-primary: var(--K4-RED);
	--K4-color-primary-bright: var(--K4-bRED);
	--K4-color-primary-glow: var(--K4-bbRED);
  --K4-color-primary-dark: var(--K4-dRED);

	--K4-color-contrast: var(--K4-BLACK);
	--K4-color-contrast-low: var(--K4-RED);
	--K4-color-contrast-high: var(--K4-dBLACK);

	--K4-font-primary: var(--font-primary);
	--K4-font-weight-primary: #{$font-weight-medium};

  --K4-color-title-fg: var(--K4-color-primary-bright);
	--K4-color-title-bg: transparent;
	--K4-color-header: var(--K4-bRED);

	--K4-list-indent: 12px;
	--K4-bg: transparent #{to-url("backgrounds/bg-item-red.webp")} no-repeat no-repeat center center / 100% 100%;
	--K4-bg-inset: transparent #{to-url("backgrounds/bg-red.webp")} repeat repeat center center/1000px 1000px;
	--K4-bullet: transparent #{to-url("icons/bullets/bullet-red.svg")} no-repeat center center/calc(0.5 * var(--K4-list-indent));

	--K4-strip-main-color-fg: var(--K4-color-primary-bright);
	--K4-strip-main-color-bg: var(--K4-color-contrast);
	--K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
	--K4-strip-button-color-fg: var(--K4-color-contrast);
	--K4-strip-button-color-bg: var(--K4-color-primary);
	--K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
	--K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
	--K4-strip-tooltip-color-fg: var(--K4-bWHITE);
	--K4-strip-tooltip-color-bg: var(--K4-dBLACK);

	--K4-color-keyword: var(--K4-bRED);
	--K4-color-keyword-bright: var(--K4-bRED);
	--K4-color-pos: var(--K4-RED);
	--K4-color-neg: var(--K4-RED);

	// --K4-icon-fill: var(--K4-color-primary);
	// --K4-icon-bg-color: var(--K4-color-contrast);
	// --K4-icon-clip-path: circle(closest-side);
	// --K4-icon-outline-color-color: transparent;
}
