.gm-move-text {
  color: var(--K4-RED);
  font-weight: 1000;
}
.key-word {
  color: var(--K4-BLUE);
  font-weight: 1000;
}
.trigger-words {
  font-weight: 1000;
}

h3 {
  border: none;
  font-family: var(--font-primary);
  font-style: italic;
}
