.gm-move-text {
  color: var(--K4-RED);
  font-weight: 1000;
}
.key-word {
  color: var(--K4-BLUE);
  font-weight: 1000;
}
.trigger-words {
  font-weight: 1000;
}

h3 {
  border: none;
  font-family: var(--font-primary);
  font-style: italic;
}

img {
  border: none;
}

.tox .tox-editor-header {
  position:absolute;
  top: -45px;
  background: transparent !important;
  padding: 6px 10px !important;
  // outline: 2px solid yellow;
  /* height: unset; */
  left: -5px;
  width: 1000px;
  transition: 0.25s;
  opacity: 0;
}

.tox .tox-editor-header:hover {
  opacity: 1;
}

.editor.tinymce {
  overflow: visible;
}

.tox.tox-tinymce {
  overflow: visible;
}

button, a {
  pointer-events: auto !important;
}