.item-block {
  --bg-fade-color: color-mix(
    in srgb,
    var(--fg-color, transparent) 75%,
    transparent
  );
  background: var(--bg-fade-color);
  width: calc(100% + 2 * 5px);
  margin-left: -5px;
  padding: 0px 5px 10px 5px;
  margin-bottom: -10px;

  .item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: var(--bg-color);
    width: calc(100% + 2 * 5px);
    margin-left: -5px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    img {
      height: 48px;
      width: 48px;
    }
    .move-name {
      color: var(--fg-color);
    }
  }

  .item-body,
  .item-body * {
    hyphens: auto;
  }

  .roll-results-block {
    > * {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;

      label {
        margin-top: 10px;
        white-space: nowrap;
        font-weight: 1000;
        color: var(--K4-RED);
      }
    }
  }

  &.item-block-disadvantage {
    --bg-color: var(--K4-ddRED);
    --fg-color: var(--K4-bRED);
  }

  &.item-block-advantage {
    --bg-color: var(--K4-ddGOLD);
    --fg-color: var(--K4-bGOLD);
  }

  &.item-block-attack {
    margin-top: 10px;

    .item-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 0;
      padding-bottom: 0;
      gap: 0;

      .weapon-name-wrapper {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        right: 0;
        padding: 0 10px;

        .weapon-name-prefix,
        .weapon-name {
          color: var(--fg-color, black);
          text-shadow:
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 1px black;
        }

        .weapon-name {
          // background: var(--K4-ddRED);
          // color: var(--K4-bWHITE);
          font-size: 16px;
          white-space: nowrap;
          // font-family: Infidel;
          line-height: 1.4;
          font-weight: bold;
          border-bottom-left-radius: 10px;
          font-style: italic;
        }
      }

      .item-name {
        background: var(--K4-ddRED);
        color: var(--K4-bWHITE);
        margin-top: 25px;
        padding: 5px;
        // margin-bottom: -2px;
        font-size: 20px;
        font-family: var(--font-primary-smallcaps);
        text-transform: lowercase;
        // width: 80%;
        // background: var(--K4-ddRED);
        // color: var(--K4-bRED);
        font-weight: 1000;
        width: calc(100% + 10px);
        text-align: center;
      }
    }

    .item-subheader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      // background: var(--K4-ddGOLD);
      padding: 5px;
      border-radius: 10px;
      transform-origin: center top;
      // scale: 0.8;
      .item-harm {
        color: var(--K4-BLUE);
      }
      .item-range {
        // color: var(--K4-WHITE);
        font-weight: 1000;
        font-family: var(--font-primary-smallcaps);
        text-transform: lowercase;
      }
      .item-ammo-cost {
        display: inline-flex;
        gap: 4px;
        .bullet-icon {
          display: inline-block;
          width: 9px;
          height: 18px;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border: 1px inset var(--K4-bGOLD);
          // box-sizing: border-box;
          background: var(--K4-BLACK);
          transform-origin: center center;
          transform: rotate(20deg);
        }
      }
    }

    .item-body {
      padding: 0px;

      .item-description {
        text-align: center;
        padding-bottom: 10px;
        font-family: var(--font-primary-smallcaps);
        font-weight: bold;
        font-size: 16px;
        letter-spacing: -0.05em;
      }
    }
  }
}
.dotline {
  position: absolute;
  right: 10px;
  width: min-content;
  transform: translateY(-50%);
  top: 50%;
  display: inline-flex;
  gap: 2px;

  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--K4-bbGOLD);

    &.empty {
      background: transparent;
    }

    &.filled {
      background: var(--K4-bbGOLD);
    }
  }
}
.weapon-card {
  position: relative;
  margin-bottom: 0px;

  + .weapon-attack-block {
    // margin-top: -2px;
    // background: color-mix(in srgb, var(--K4-ddRED) 50%, transparent);
    border-top: none;
    border-bottom: 2px solid var(--K4-RED);
    // border-width: 3px;
    // border-top: 3px solid var(--K4-RED);
  }

  .dotline {
    .dot {
      border: 1px solid var(--K4-bGOLD);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 6px;
      &.empty {
        background: transparent;
      }

      &.filled {
        background: var(--K4-bGOLD);
      }
    }
  }
}
.weapon-attack-block {
  // border-radius: 10px;
  // border: 2px outset var(--K4-bRED);
  margin-left: 15px;
  padding: 0 5px;
  width: calc(100% - 15px);
  // margin-bottom: 3px;
  border-top: 1px solid var(--K4-RED);

  &.insufficient-ammo {
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background: color-mix(in srgb, var(--K4-ddRED) 25%, transparent);
  }

  &[data-is-selected="true"] {
    background: color-mix(in srgb, var(--K4-ddRED) 25%, transparent);
  }

  .attack-top-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .attack-name {
      font-size: 12px;
      line-height: 16px;
      font-family: var(--font-primary);
      font-weight: 1000;
      color: var(--K4-RED);
      white-space: nowrap;
      width: min-content;
    }
    .attack-harm {
      width: 20px;
      font-size: 16px;
      line-height: 16px;
      font-family: var(--font-primary);
      font-weight: 1000;
      color: var(--K4-BLUE);
      margin-right: 5px;
      &::before {
        content: "[";
        color: black;
        font-size: 12px;
        vertical-align: middle;
      }
      &::after {
        content: "]";
        color: black;
        font-size: 12px;
        vertical-align: middle;
      }
    }
    .dotline {
      position: absolute;
      font-size: 16px;
      font-family: var(--font-primary);
      font-weight: 1000;
      right: 5px;
      // transform: none;
      // line-height: 16px;
      // place-self: flex-end;

      .dot {
        border: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 6px;
        &.empty {
          background: transparent;
        }

        &.filled {
          background: black;
        }
      }
    }
  }

  .attack-bottom-row {
    .attack-special {
      font-size: 12px;
      text-indent: 25px;
      margin-top: -2px;
      color: var(--K4-RED);
      white-space: nowrap;

      .down-arrow {
        position: relative;
        top: -3px;
        font-weight: 1000;
        font-size: 10px;
      }
    }
  }
}
