$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

@mixin set-default-theme() {
	--K4-color-primary: var(--K4-GOLD);
	--K4-color-primary-bright: var(--K4-BLACK);
	--K4-color-primary-glow: var(--K4-bbGOLD);
	--K4-color-primary-dark: var(--K4-dGOLD);

	--K4-color-contrast: var(--K4-BLACK);
	--K4-color-contrast-low: var(--K4-ddGOLD);
	--K4-color-contrast-high: var(--K4-dBLACK);

	--K4-color-title-fg: var(--K4-color-primary-bright);
	--K4-color-title-bg: transparent;
	--K4-color-header: var(--K4-bRED);

	--K4-color-keyword: var(--K4-bbGOLD); // var(--K4-bGOLD);
	--K4-color-keyword-bright: var(--K4-bbGOLD); // var(--K4-bGOLD);
	--K4-color-pos: var(--K4-bbGOLD); // var(--K4-bGOLD);
	--K4-color-neg: var(--K4-bRED); // var(--K4-RED);
  --K4-neon-text-color: var(--K4-bWHITE);

	--K4-font-primary: var(--font-primary);
	--K4-font-weight-primary: #{$font-weight-normal};

	--K4-list-indent: 12px;
	--K4-bg: transparent #{to-url("backgrounds/bg-item-gold.webp")} no-repeat no-repeat center center / 100% 100%;
	--K4-bg-inset: transparent #{to-url("backgrounds/bg-gold.webp")} repeat repeat center center/1000px 1000px;
	--K4-bullet: transparent #{to-url("icons/bullets/bullet-gold-bright.svg")} no-repeat center center/calc(0.5 * var(--K4-list-indent));

	--K4-strip-main-color-fg: var(--K4-color-primary-bright);
	--K4-strip-main-color-bg: var(--K4-color-contrast);
	--K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
	--K4-strip-button-color-fg: var(--K4-color-contrast);
	--K4-strip-button-color-bg: var(--K4-color-primary);
	--K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
	--K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
	--K4-strip-tooltip-color-fg: var(--K4-bWHITE);
	--K4-strip-tooltip-color-bg: var(--K4-dBLACK);
}
