  [popovertarget] {
    pointer-events: auto !important;
    anchor-name: var(--popover-anchor);
    // width: fit-content !important;
  }

  [popover] {
    position: absolute;
    position-area: top;
    inset-area: top;
    height: min-content !important;
    width: fit-content !important;
    min-width: 200px !important;
    max-width: 500px !important;

    display: flex;
    flex-direction: column;
    // align-items: center;
    pointer-events: none !important;

    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 18px;
    // font-style: italic;
    text-align: center;
    color: white;
    background: black;
    // text-wrap: balance;
    hyphens: none !important;
    outline: 1px solid white;
    box-shadow:
      2px 2px 3px black,
      2px 2px 3px black,
      2px 2px 3px black;

    // padding: 10px;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;

    /* Initial state */
    opacity: 0;
    scale: 1.25;

    /* Simple transition for all changes */
    transition: opacity 0.25s ease-out, scale 0.25s ease-out;

    * {
      white-space: break-spaces;
      text-wrap: balance;
      hyphens: none !important;
    }

    > div {
      height: 30px !important;
    }

    > * {
      display: inline-block;
    }

    &.left-aligned {
      text-align: left;

      * {
        justify-content: flex-start !important;
      }
    }

    .trigger-words, .key-word {
      font-weight: normal;
      color: white !important;

      &.key-word {
        font-weight: 1000 !important;
      }
    }

    &.weapon-tooltip,
    &.relationship-tooltip {
      // display: block !important;
      overflow: hidden !important;
      // align-items: flex-start !important;
      h1 {
        font-family: var(--font-primary) !important;
        font-size: 22px !important;
        text-transform: none !important;
        border: none !important;
        text-align: center !important;
        margin-bottom: 0px !important;
        width: min-content !important;
        white-space: nowrap !important;
        width: 100% !important;
      }

      h2, h2 em {
        border: none !important;
        font-family: var(--font-primary-smallcaps) !important;
        text-transform: lowercase !important;
        // font-style: italic !important;
        // width: 100% !important;
        text-align: center !important;
        font-size: 18px !important;
        color: var(--K4-bGREY) !important;
        // white-space: nowrap !important;
        // margin: 0 auto !important;
      }

      h2 {
        display: block !important;
      }

      * {
        // margin: 0 !important;
        padding: 0 !important;
      }

      .flex-row {
        display: flex !important;
        // width: 100% !important;
        height: 20px !important;
        // outline: 1px dotted yellow;
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        align-content: flex-start !important;
        justify-items: flex-start !important;
        // width: min-content !important;
        text-align: left !important;
        // height: 60px !important;
        line-height: 14px !important;
        // height: unset !important;
        gap: 0 !important;
        flex-wrap: nowrap !important;
        overflow: hidden !important;
        // margin-top: -10px !important;
        // margin-bottom: -10px !important;

        label {
          font-weight: 1000 !important;
          text-transform: lowercase !important;
          font-family: var(--font-primary-smallcaps) !important;
          margin-right: 10px !important;
        }
        > span {
          // outline: 1px dotted red;
        }
      }

    }



    h2 {
      display: block;
      margin: 0 0 5px 0 !important;
      border-bottom: 1px solid var(--K4-RED) !important;

      &, * {
        font-style: normal !important;
        font-family: var(--font-primary-smallcaps) !important;
        text-transform: lowercase !important;
        white-space: nowrap !important;
        text-align: center !important;
        font-size: clamp(10px, 20px, 20px) !important;
      }
    }


  }

  /* State when popover is open */
  [popover]:popover-open {
    opacity: 1;
    scale: 1;
  }

  /* Initial state when opening */
  @starting-style {
    [popover]:popover-open {
      opacity: 0;
      scale: 1.25;
    }
  }

  // .chat-message *[style*="anchor-name"]:not([popovertarget]) + [style*="position-anchor"] {
  //   visibility: hidden;
  //   opacity: 0;
  // }
  /** Because chat messages are parsed before being rendered, must add popover attributes via script -- and keep it invisible until done **/
