@use "overlay/alerts";
@use "overlay/video-status";
@use "overlay/countdown";
@use "overlay/stage";
@use "overlay/mid-zindex-mask";
@use "overlay/top-zindex-mask";
@use "overlay/location-plotting-panel";
html {
	position: absolute;
	transform-origin: center center;
	background: rgb(0, 0, 0);

  body {
    position: relative;
    background-image: url('modules/eunos-kult-hacks/assets/backgrounds/bg-burnt-background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: black;
    margin: 0;

    &:not(.interface-ready)::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 10000;
      pointer-events: all;
    }

    #EUNOS_OVERLAY {
      position: static;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
      margin-right: -100%;
      margin-bottom: -100%;
    }

    &.session-closed {
      #ALERTS,
      // #COUNTDOWN,
      // #MID-ZINDEX-MASK,
      #TOP-ZINDEX-MASK,
      #SAFETY-BUTTONS,
      #LOCATIONS,
      #NPCS,
      #PCS,
      #STAGE,
      #VIDEO-STATUS-PANEL {
        visibility: hidden !important;
      }
    }

    &.session-loading {
      #ALERTS,
      // #COUNTDOWN,
      // #MID-ZINDEX-MASK,
      #TOP-ZINDEX-MASK,
      #SAFETY-BUTTONS,
      #LOCATIONS,
      #NPCS,
      #PCS,
      #STAGE/* ,
      #VIDEO-STATUS-PANEL */ {
        visibility: hidden;
      }
    }

    &.session-starting {
      #ALERTS,
      #COUNTDOWN,
      // #MID-ZINDEX-MASK,
      // #TOP-ZINDEX-MASK,
      #SAFETY-BUTTONS,
      // #LOCATIONS,
      // #NPCS,
      // #PCS,
      // #STAGE,
      #VIDEO-STATUS-PANEL {
        visibility: hidden;
      }
    }

    &.session-running {
      // #ALERTS,
      #COUNTDOWN,
      #MID-ZINDEX-MASK,
      #TOP-ZINDEX-MASK,
      // #SAFETY-BUTTONS,
      // #LOCATIONS,
      // #NPCS,
      // #PCS,
      // #STAGE,
      #VIDEO-STATUS-PANEL {
        visibility: hidden;
      }
    }

    &.session-ending {
      #ALERTS,
      #COUNTDOWN,
      #MID-ZINDEX-MASK,
      #TOP-ZINDEX-MASK,
      #SAFETY-BUTTONS,
      #LOCATIONS,
      #NPCS,
      // #PCS,
      // #STAGE,
      #VIDEO-STATUS-PANEL {
        visibility: hidden;
      }
    }
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  to {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
}

// Hide GM-only elements from non-GM users
body:not(.gm-user) .gm-only {
  display: none !important;
}


@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
