@use "../globals/functions" as *;

#interface #ui-right #sidebar > button {
  height: 30px;
  max-height: 30px;
  max-width: 200px;
  position: absolute;
  top: 10px;
  left: -100%;
  z-index: 100;
}

#EUNOS_CAROUSEL {
  position: absolute;
  top: -50px;
  left: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  z-index: 0;
  transform-style: preserve-3d;
  perspective: var(--carousel-perspective);
  pointer-events: none;

  /* Variables for Carousel */
  --carousel-perspective: 3000px;
  --carousel-vertical-offset: 5vh;

  /* Variables for Standing Stones */
  --stone-width: 400px;
  --stone-height: 500px;
  --stone-gap: 10px;
  --stone-depth: 80px;
  --stone-half-depth: calc(var(--stone-depth) / 2);
  --stone-bg-image: transparent #{to-url("backgrounds/bg-texture-stone.webp")} repeat repeat center center/150px 150px;
  --stone-scrollbar-width: 6px;

  .stone-carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: var(--carousel-perspective);
    z-index: 10;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    top: var(--carousel-vertical-offset);
    pointer-events: none;
    // filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

    .stone-carousel {
      position: relative;
      width: var(--stone-width);
      height: var(--stone-height);
      // width: 100%;
      // height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      z-index: 10;

      .standing-stone {
        position: absolute;
        width: var(--stone-width);
        height: var(--stone-height);
        transform-style: preserve-3d;
        transform-origin: bottom center !important;
        transform: translate(-50%, 0%);
        left: 50%;
        bottom: 0;
        z-index: 10;
        visibility: hidden;

        &[data-index="1"],
        &[data-index="2"],
        &[data-index="3"] {
          --body-text-font-family: var(--stone-font-11);
          --body-text-font-size: 20px;
        }

        &[data-index="0"] {
          h1:nth-child(2) {
            margin-bottom: 10px;
          }
        }

        &[data-index="4"] {
          --body-text-font-family: var(--stone-font-11);
          --body-text-font-size: 18px;

          .standing-stone-content {
            .medium-block.left-block {
              // color: black;
              width: auto;
              margin: 5px auto;
              text-align: center;

              &:nth-child(1) {
                opacity: 0.5;
              }

              &:nth-child(2) {
                // margin-left: 10px;
                opacity: 0.65;
              }

              &:nth-child(3) {
                // margin-left: 20px;
                opacity: 0.8;
              }

              &:nth-child(4) {
                // margin-left: 30px !important;
                opacity: 1;
              }
            }
          }
        }



        .standing-stone-face {
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--stone-bg-image);
          backface-visibility: hidden;


          &.standing-stone-front {
            transform: translateZ(var(--stone-half-depth));
            // overflow: hidden;
          }

          &.standing-stone-back {
            transform: rotateY(180deg) translateZ(var(--stone-half-depth));
            filter: brightness(0.4);
          }

          &.standing-stone-top {
            height: var(--stone-depth);
            transform: rotateX(90deg) translateY(calc(-1 * var(--stone-half-depth)));
            transform-origin: top left;
            backface-visibility: visible;
            right: 0px;
            top: 0px;
            filter: brightness(0.7);
          }

          &.standing-stone-left {
            width: var(--stone-depth);
            transform: rotateY(-90deg);
            transform-origin: top;
            backface-visibility: visible;
            left: calc(-1 * var(--stone-half-depth));
            filter: brightness(0.7);
          }

          &.standing-stone-right {
            width: var(--stone-depth);
            transform: rotateY(90deg);
            transform-origin: top;
            backface-visibility: visible;
            right: calc(-1 * var(--stone-half-depth));
            filter: brightness(0.7);
          }
        }


        .standing-stone-content {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          z-index: 2;
          transform: translateZ(calc(var(--stone-half-depth) + 1px));
          backface-visibility: hidden;
          overflow: hidden;

          * {
            color: var(--stone-text-color, rgba(0, 0, 0, 0.5));
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0px rgba(0, 0, 0, 1);
          }

          h1, h2 {
            border: none;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 1;
            font-family: var(--stone-font-2);
          }



          p {
            margin: 0;
            margin-bottom: 5px;
            font-size: var(--body-text-font-size, 24px);
            font-family: var(--body-text-font-family, var(--stone-font-1));
            line-height: var(--body-text-line-height, 1.25);
            // color: rgba(0, 0, 0, 0.25);
            font-weight: 600;
            letter-spacing: 1px;
            text-wrap: pretty !important;
            width: calc(100% - 20px);

            &.gap-below {
              margin-bottom: 20px;
            }

            &.left-block {
              text-align: left;
            }
          }

          .destiny-block {
            --body-text-font-family: var(--stone-font-15);
            --body-text-font-family: var(--stone-font-14);
            --body-text-font-family: var(--stone-font-13);
            --body-text-font-family: var(--stone-font-12);
            --body-text-font-family: var(--stone-font-11);
            --body-text-font-family: var(--stone-font-10);
            --body-text-font-family: var(--stone-font-9);
            --body-text-font-family: var(--stone-font-8);
            // --body-text-font-family: var(--stone-font-7);
            --body-text-font-size: 20px;
            --body-text-line-height: 1;
            // --body-text-font-family: var(--stone-font-6);
            // --body-text-font-family: var(--stone-font-5);
            // --body-text-font-family: var(--stone-font-4);
            // --body-text-font-family: var(--stone-font-3);
            // --body-text-font-family: var(--stone-font-2);
            // --body-text-font-family: var(--stone-font-1);

            margin-top: 10px;
            opacity: 1;
            // color: rgba(;
            width: calc((100% - 20px) / 0.8);
            transform-origin: center center;
            transform: rotateZ(-5deg) scale(0.8);
            letter-spacing: 2px;

            &.rotate-right {
              transform: rotateZ(5deg) scale(0.8);
            }

            &.align-bottom {
              position: absolute;
              bottom: 30px;
            }
          }

          table {
            border-collapse: collapse;
            width: calc(100% - 20px);
            margin: 0 auto;
            border: none;
            background: none;

            td, th, tr {
              padding: 0px;
              min-height: 20px;
              height: 20px;
              background: none;
              border: none;
              font-size: 20px;
              font-family: var(--stone-font-13);
              text-align: left;
            }

            &.memorial-table {
              // background: var(--stone-bg-image);
              td:nth-child(3) {
                text-align: right;
              }
            }


            &.trees-table {
              margin-bottom: 20px;
              max-width: 100%;

              td, th, tr {
                max-width: 100%;
                // --table-text-font-family: var(--stone-font-8);
                font-family: var(--table-text-font-family, var(--stone-font-8));
                text-wrap: nowrap;
                font-size: var(--table-text-font-size, 20px);
                height: 25px;
              }

              tr:nth-child(1) {
                --table-text-font-family: var(--stone-font-1);
                --table-text-font-size: 24px;
                font-weight: normal;
              }

              tr:nth-child(2) {
                --table-text-font-family: var(--stone-font-5);
              }

              tr:nth-child(3) {
                --table-text-font-family: var(--stone-font-15);
                --table-text-font-size: 18px;
                // font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
              }

              tr:nth-child(4) {
                --table-text-font-family: var(--stone-font-11);
                --table-text-font-size: 20px;
                // font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
              }
              tr:nth-child(5) {
                --table-text-font-family: var(--stone-font-5);
                --table-text-font-size: 20px;
                // font-size: 18px;
                font-weight: bold;
                letter-spacing: 0px;
              }
              tr:nth-child(6) {
                --table-text-font-family: var(--stone-font-8);
                font-weight: bold;
                letter-spacing: 2px;
              }


              tr:nth-child(7) {
                --table-text-font-family: var(--stone-font-12);
                --table-text-font-size: 18px;
                // font-size: 18px;
                font-weight: normal;
                letter-spacing: 2px;
              }
              tr:nth-child(8) {
                --table-text-font-family: var(--stone-font-9);
                --table-text-font-size: 26px;
                // font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
              }


              tr:nth-child(9) {
                // --table-text-font-family: var(--stone-font-4);
                --table-text-font-family: var(--stone-font-10);
                // --table-text-font-family: var(--stone-font-14);
                --table-text-font-size: 20px;
                // font-size: 18px;
                font-weight: normal;
                letter-spacing: 2px;
              }

              tr:nth-child(10) {
                --table-text-font-family: var(--stone-font-16);
                font-weight: 1000;
                --table-text-font-size: 20px;
                letter-spacing: 0px;
                text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
              }

              td.narrow-cell {
                --table-text-font-family: var(--stone-font-11);
                // font-family: var(--stone-font-8);
              }
            }
          }

          .lost-rangers-wrapper {
            position: relative;
            flex: 1;
            overflow: hidden; /* Prevents scrollbars */
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;

          }

          .lost-rangers-table-wrapper {
            position: absolute;
            width: 100%;
            padding: 0px 10px;
            background: var(--stone-bg-image);
            will-change: transform; /* Optimizes for animation */

            // &:nth-child(1) {
            //   opacity: 0.5;
            //   // outline: 4px dotted red !important;
            //   z-index: 10;
            // }
          }

          .lost-rangers-table {
            position: relative;
            width: 100%;
            margin: 0;
          }

          .lost-rangers-table {
            position: relative;
            // top: 100%;
            // overflow-y: auto;
            // scrollbar-width: thin;
            // scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
            // flex: 1;

            .lost-ranger-row {
              filter: blur(0.5px);
            }

            tr, th, td {
              font-size: 16px;
              font-family: var(--stone-font-7);
            }
          }

          .realm-accords {
            list-style-type: upper-roman;
            font-family: var(--stone-font-8);
            text-align: left;
            font-size: 20px;
            margin: 0;
            padding: 0;
            padding-left: 1.5em;
            width: calc(100% - 20px);
            // font-weight: 1000;

            li {
              padding-left: 0.5em;
              margin-bottom: 0.5em;
            }

            &.left-block {
              text-align: left;
            }
          }
        }

        // &:nth-child(1) { width: calc(var(--stone-width) * 1.3); height: calc(var(--stone-height) * 1.3); }
        // &:nth-child(2) { width: calc(var(--stone-width) * 1.25); height: calc(var(--stone-height) * 1.25); }
        // &:nth-child(3) { width: calc(var(--stone-width) * 1); height: calc(var(--stone-height) * 1); }
        // &:nth-child(4) { width: calc(var(--stone-width) * 0.8); height: calc(var(--stone-height) * 0.8); }
        // &:nth-child(5) { width: calc(var(--stone-width) * 1.2); height: calc(var(--stone-height) * 1.2); }

        // /* Apply colors to front faces */
        // &:nth-child(1) .standing-stone-front { background-color: rgba(200, 200, 200, 1); }
        // &:nth-child(2) .standing-stone-front { background-color: rgba(200, 200, 200, 1); }
        // &:nth-child(3) .standing-stone-front { background-color: rgba(200, 200, 200, 1); }
        // &:nth-child(4) .standing-stone-front { background-color: rgba(200, 200, 200, 1); }
        // &:nth-child(5) .standing-stone-front { background-color: rgba(200, 200, 200, 1); }
      }
    }

    .stone-carousel-base {
      position: absolute;
      width: 4200px;
      height: 4200px;
      background: #FFFFFF;
      // background: radial-gradient(circle at 50% 50%, rgb(0, 94, 0) 10%, rgb(0, 110, 0) 25%,  lime 35%, yellow 35%, transparent 60%);
      background: radial-gradient(circle at 50% 50%, var(--K4-BLACK) 35%, rgb(255 250 212) 45%, transparent 60%);
      top: 0%;
      left: 50%;
      border-radius: 50%;
      filter: blur(25px);
      // bottom: 0%;
      // left: 50%;
      transform-origin: center center;
      transform: translate(-50%, 0%) rotateX(90deg);
      visibility: hidden;
    }
  }



  /* Create a wrapper for each item to handle the 3D rotation */


  .stone-carousel-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: 350px;
    width: 70vw;
    transform: translate(-50%, -50%);
    visibility: hidden;
    // transform: translateZ(-10vh);

    button {
      background-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      color: rgba(255, 255, 255, 1);
      border: none;
      border-radius: 50%;
      width: 150px;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.15s;
      font-size: 15rem;
      box-shadow: none !important;
      pointer-events: auto;
      text-shadow: 0 0 10px rgb(255, 255, 255, 1), 0 0 10px rgb(255, 255, 255, 1), 0 0 10px rgb(255, 255, 255, 1);

      &:hover {
        // background-color: rgba(0, 0, 0, 0.9);
        transform: scale(1.1);
        text-shadow: 0 0 10px rgb(0, 0, 0, 1), 0 0 10px rgb(0, 0, 0, 1), 0 0 10px rgb(0, 0, 0, 1);
      }
    }
  }
}
