#ui-left,
#ui-top,
#ui-bottom {
  display: none;
}
#sidebar-tabs {
  justify-content: stretch;
  .item {
    flex: 1;

    i {
      font-size: 26px;
    }
  }
  .item[data-tab="combat"],
  .item[data-tab="items"],
  .item[data-tab="scenes"],
  .item[data-tab="tables"],
  .item[data-tab="cards"],
  .item[data-tab="playlists"],
  .item[data-tab="compendium"] {
    display: none;
  }
}

#quench-results {
  .window-content {
    #quench-batches {
      #quench-batches-list {
        .test-batch {
          > label {
            font-family: Voltaire;
            font-weight: normal;
            font-size: 14px;
          }
        }
      }
    }
  }
}

body.gm-user {

  #ui-middle {
    z-index: 101;
  }

  #ui-bottom {
    bottom: unset;
    top: -10px;
    left: -50px;
    position: absolute;
    display: block;
    transform: translate(0%, 0);
    // background: red;
    scale: 0.8;
    // z-index: 100000;
    // right: 100px;
  }

  #sidebar-tabs {
    .item i { font-size: 20px;}
    .item[data-tab="items"],
    .item[data-tab="scenes"],
    .item[data-tab="cards"],
    .item[data-tab="playlists"],
    .item[data-tab="compendium"] {
      display: block;
    }
  }

}
