<div id="COUNTDOWN" class="loading-screen-countdown-container">
  <div class="aurora">
    <video
      class="aurora-background"
      autoplay
      loop
      muted
      playsinline
    >
      <source src="modules/eunos-kult-hacks/assets/video/countdown-aurora-white.webm" type="video/webm">
    </video>
  </div>
  <div class="loading-screen-countdown">
    <div class="glitch-text glitch-top"></div>
    <div class="glitch-text glitch-bottom"></div>
  </div>
</div>
