<div id="COUNTDOWN" class="loading-screen-countdown-container">
  <div class="loading-screen-countdown">
    <div class="glitch-text glitch-top"></div>
    <div class="glitch-text glitch-bottom"></div>
  </div>
</div>
