{{log "Location Plotting Panel" this}}

<div id="LOCATION-PLOTTING-PANEL" class="location-plotting-panel gm-only">

  {{!-- Container for Dynamically-Generated Controls --}}
  <div class="control-section transform-controls">

  </div>

  <div class="panel-buttons">
    <button data-action="outputValues">Output Values</button>
  </div>
</div>
