<div class="mid-zindex-mask">

  <div class="canvas-mask">

  </div>
  <div class="sidebar-mask">

  </div>
  <div class="canvas-mask-bars">

  </div>
  <div class="sidebar-mask-bars">

  </div>
</div>
