<div id="MID-ZINDEX-MASK" class="mid-zindex-mask">
  <div class="canvas-mask">
    {{#each LOADING_SCREEN_DATA as |data key|}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/loading-screen-item.hbs" data=data key=key}}
    {{/each}}
  </div>
</div>
