<div id="SAFETY-BUTTONS" class="safety-buttons">
  <button class="safety-button-row safety-button-row-fade"  data-action="fadeToBlackClick">
    <span class="label-bg">Fade to Black</span>
    <span class="label-fg">Fade to Black</span>
    <div class="safety-button safety-button-fade" data-action="fadeToBlackClick"></div>
  </button>
  <button class="safety-button-row safety-button-row-stop"  data-action="stopSceneClick">
    <span class="label-bg">Stop Scene</span>
    <span class="label-fg">Stop Scene</span>
    <div class="safety-button safety-button-stop"></div>
  </button>
</div>
