<div id="NPCS" class="npcs-container">
  {{!-- Preload container --}}
  <div class="npc-smoke-effect-preload">
    <img src="modules/eunos-kult-hacks/assets/images/stage/npc-frame/smoke-pillar-bright.webp" alt="" style="position: absolute; top: -9999px; left: -9999px;"/>
    <img src="modules/eunos-kult-hacks/assets/images/stage/npc-frame/smoke-pillar-dark.webp" alt="" style="position: absolute; top: -9999px; left: -9999px;"/>
  </div>
</div>
