<div id="STAGE-CHANGES-LOG" class="stage-changes-log gm-only">
  <button class="stage-changes-log-button" data-action="pushUIChanges">Push</button>
  <button class="stage-changes-log-button" data-action="clearUIChanges">Clear</button>
  <div class="stage-changes-log-content"></div>
</div>
