<div id="STAGE-END-PHASE" class="stage-end-phase">
  <div class="question-container" data-question-number="3">
    <span class="question-text">Can anyone describe something new they learned about another PC?</span>
    {{#if isGM}}
    <div class="gm-control-panel">
      <button class="gm-control-button gm-control-button-approve" data-action="approveXPQuestion" data-question-number="3">Approve</button>
      <button class="gm-control-button gm-control-button-deny" data-action="denyXPQuestion" data-question-number="3">Deny</button>
    </div>
    {{/if}}
  </div>
  <div class="question-container" data-question-number="2">
    <span class="question-text">Did anyone cooperate with another PC to help them satisfy one of their Dramatic Hooks?</span>
    {{#if isGM}}
    <div class="gm-control-panel">
      <button class="gm-control-button gm-control-button-approve" data-action="approveXPQuestion" data-question-number="2">Approve</button>
      <button class="gm-control-button gm-control-button-deny" data-action="denyXPQuestion" data-question-number="2">Deny</button>
    </div>
    {{/if}}
  </div>
  <div class="question-container" data-question-number="1">
    <span class="question-text">Did any PC actively involve another PC in their own personal story arc?</span>
    {{#if isGM}}
    <div class="gm-control-panel">
      <button class="gm-control-button gm-control-button-approve" data-action="approveXPQuestion" data-question-number="1">Approve</button>
      <button class="gm-control-button gm-control-button-deny" data-action="denyXPQuestion" data-question-number="1">Deny</button>
    </div>
    {{/if}}
  </div>
  {{#if isGM}}
  <div class="master-gm-control-panel">
    <button class="gm-control-button gm-control-button-begin" data-action="beginXPQuestions">Begin</button>
  </div>
  {{/if}}
</div>
