<div id="STAGE-END-PHASE" class="stage-end-phase">

  <div class="background-wrapper">
    <div class="bg-layer bg-layer-base"></div>
    <div class="bg-layer bg-layer-z1"></div>
    <div class="bg-layer bg-layer-z2"></div>
    <div class="bg-layer bg-layer-z3"></div>
    <div class="bg-layer bg-layer-z4"></div>
    <div class="bg-layer ground-fog">
      <video
        class="ground-fog-video"
        autoplay
        loop
        muted
        playsinline
      >
        <source src="modules/eunos-kult-hacks/assets/video/ground-fog.webm" type="video/webm">
      </video>
    </div>
  </div>

  <div class="question-container" data-question-number="3">
    <span class="question-text">Can anyone describe something new they learned about another PC?</span>
  </div>
  <div class="question-container" data-question-number="2">
    <span class="question-text">Did anyone cooperate with another PC to help them satisfy one of their Dramatic Hooks?</span>
  </div>
  <div class="question-container" data-question-number="1">
    <span class="question-text">Did any PC actively involve another PC in their own personal story arc?</span>
  </div>
  {{#if isGM}}
  <div class="master-gm-control-panel">
    <button class="gm-control-button gm-control-button-begin" data-action="beginXPQuestions">Begin</button>
    <button class="gm-control-button gm-control-button-approve" data-action="approveXPQuestion">Approve</button>
    <button class="gm-control-button gm-control-button-deny" data-action="denyXPQuestion">Deny</button>
  </div>
  {{/if}}
  <div class="dramatic-hook-splash-container">
    Dramatic Hook Assignment
  </div>
</div>


var tScale = 1;

    .timeScale(tScale);

var testQuestion = document.querySelector(".question-container + .question-container + .question-container");
