<div id="LOCATIONS" class="location-container">

  <div class="location-wrapper">
    <div class="location-name">{{location.name}}</div>
    <div class="location-image-wrapper">
      <img class="location-image" src="" />
    </div>
    <div class="location-image-wrapper">
      <img class="location-image" src="" />
    </div>
    {{#if location.description}}
    <div class="location-description">{{location.description}}</div>
    {{/if}}
  </div>

</div>
