<div id="STAGE" class="eunos-overlay-stage">
  <div id="BLACKOUT-LAYER"></div>
  <section id="SECTION-3D" class="master-layer">
    <section class="canvas-layer background-layer"></section>
    <section class="canvas-layer under-layer"></section>
  </section>
</div>
