<div id="STAGE-END-PHASE" class="stage-end-phase">

  <div class="background-wrapper">
    <div class="bg-layer bg-layer-base"></div>
    <div class="bg-layer bg-layer-z1"></div>
    <div class="bg-layer bg-layer-z2"></div>
    <div class="bg-layer bg-layer-z3"></div>
    <div class="bg-layer bg-layer-z4"></div>
    <div class="bg-layer ground-fog">
      <video
        class="ground-fog-video"
        autoplay
        loop
        muted
        playsinline
      >
        <source src="modules/eunos-kult-hacks/assets/video/ground-fog.webm" type="video/webm">
      </video>
    </div>
  </div>

  <div class="question-container" data-question-number="3">
    <span class="question-text">Can anyone describe something new they learned about another PC?</span>
  </div>
  <div class="question-container" data-question-number="2">
    <span class="question-text">Did anyone cooperate with another PC to help them satisfy one of their Dramatic Hooks?</span>
  </div>
  <div class="question-container" data-question-number="1">
    <span class="question-text">Did any PC actively involve another PC in their own personal story arc?</span>
  </div>
  {{#if isGM}}
  <div class="master-gm-control-panel">
    <button class="gm-control-button gm-control-button-begin" data-action="beginXPQuestions">Begin</button>
    <button class="gm-control-button gm-control-button-approve" data-action="approveXPQuestion">Approve</button>
    <button class="gm-control-button gm-control-button-deny" data-action="denyXPQuestion">Deny</button>
  </div>
  {{/if}}
  <div class="dramatic-hook-splash-container">
    Dramatic Hook Assignment
  </div>
</div>


var tScale = 1;
var treeTL = gsap.timeline({clearProps: "all"})
    .to(".bg-layer-base, .ground-fog", {scale: 1.1, ease: "power2.inOut", duration: 6}, 0)
    .to(".bg-layer-z4", {scale: 2, ease: "power2.inOut", duration: 6}, 0)
    .to(".bg-layer-z3", {scale: 1.25, ease: "power2.inOut", duration: 6}, 0)
    .to(".bg-layer-z2", {scale: 1.05, ease: "power2.inOut", duration: 6}, 0)
    .to(".bg-layer-z1", {scale: 1.025, ease: "power2.inOut", duration: 6}, 0)
    .timeScale(tScale);

var testQuestion = document.querySelector(".question-container + .question-container + .question-container");
var textTL = gsap.timeline({clearProps: "all"})
    // Start with text far back, blurred and invisible
    .fromTo(testQuestion,
        {y: -350, z: 0, filter: "blur(25px)", autoAlpha: 0},
        {y: 0, z: 0, filter: "blur(0px)", autoAlpha: 1, duration: 10, ease: "power3.out"}, 0)
    .fromTo(testQuestion, {scale: 0.75}, {scale: 2, duration: 10, ease: "power2.inOut"}, 0)
    // Start with lowest z-index
    .set(testQuestion, {zIndex: 0}, 0)
    // Staggered z-index transitions with easing
    .to(".bg-layer-z1", {opacity: 0.5, duration: 0.8, ease: "power2.inOut"}, 0.5)
    .to(testQuestion, {zIndex: 1, duration: 0.1}, 1.2)
    .to(".bg-layer-z1", {opacity: 1, duration: 0.4, ease: "power2.in"}, 1.3)

    .to(".bg-layer-z2", {opacity: 0.5, duration: 0.8, ease: "power2.inOut"}, 1.8)
    .to(testQuestion, {zIndex: 2, duration: 0.1}, 2.5)
    .to(".bg-layer-z2", {opacity: 1, duration: 0.4, ease: "power2.in"}, 2.6)

    .to(".bg-layer-z3", {opacity: 0.5, duration: 0.8, ease: "power2.inOut"}, 3.0)
    .to(testQuestion, {zIndex: 3, duration: 0.1}, 3.7)
    .to(".bg-layer-z3", {opacity: 1, duration: 0.4, ease: "power2.in"}, 3.8)

    .to(".bg-layer-z4", {opacity: 1, duration: 0.8, ease: "power2.inOut"}, 4.0)
    .to(testQuestion, {zIndex: 5, duration: 0.1}, 4.7) // Final z-index higher than all layers
    .to(".bg-layer-z4", {opacity: 1, duration: 0.4, ease: "power2.in"}, 4.8)

    .timeScale(tScale);
