<div class="top-zindex-mask">
  <div class="chapter-title-container">
    <div class="chapter-number"></div>
    <img class="horiz-rule" src="modules/eunos-kult-hacks/assets/ui/horiz-rule.svg" />
    <div class="chapter-title"></div>
  </div>
</div>
