/* Select elements with IDs starting with "EunosPCSheet" */
[id^="EunosPCSheet"] {
  .window-header {
    /* Header Styles */
  }

  .window-content {
    overflow-y: scroll;
    .kult-sheet {
      padding-bottom: 0;

      .section-label {
        margin-bottom: 5px;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
      .item-list {
        display: flex;
        &:not(.two-column) {
          flex-direction: column;
        }
        gap: 3px;
        padding: 0;
        // display: flex;
        // flex-direction: column;
        // gap: 3px;
        // padding: 0;

        .move-card {
          position: relative;
          background: var(--bg-color);
          border-color: var(--fg-color);
          margin: 0;
          order: 1;
          height: 30px;

          &:not(.weapon-card):not(.gear-card) {
            overflow: hidden;
          }

          &:not(.passive-card) {
            filter: drop-shadow(2px 2px 4px black);
          }

          &:hover {
            .item-controls {
              transform: translateY(0);
              height: 24px;
              opacity: 1;
            }
          }

          &:not(.disadvantage-card):not(.advantage-card) {

            .item-name {
              // .item-interaction-target {
                .move-text,
                .move-show {
                  position: relative;
                  top: 2px;
                  vertical-align: middle;

                  img {
                    position: relative;
                    top: -2px;
                  }
                }
              // }
            }
          }

          &[class*="card"][class*="counter-"] {
            // height: 40px;

            .item-name,
            .move-info.gear-info.item-name {
              // .item-interaction-target {
                .move-text,
                .move-show {
                  position: relative;
                  top: -4px;

                  img {
                    position: relative;
                    top: 4px;
                  }
                }
              // }
            }

            .move-info.gear-info.item-name {
              // .item-interaction-target {
                .move-text,
                .move-show {
                  position: relative;
                  top: -2px;

                  img {
                    position: relative;
                    top: 2px;
                  }
                }
              // }
            }

            .counter-block {
              position: absolute;
              bottom: 0px;
              left: 40px;
              font-family: var(--font-primary-smallcaps);
              text-transform: lowercase;
              font-weight: 1000;
              font-size: 10px;
              filter: brightness(1.5);
            }
          }

          img {
            transform-origin: center center;
            scale: 1.5;
            padding: 0;
            margin-left: 0;
            margin-right: 4px;
          }

          .item-controls {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            gap: 3px;
            height: 0px;
            overflow: hidden;
            padding: 0 8px;
            background-color: rgba(0, 0, 0, 0.8);
            border-top-left-radius: 8px;
            width: fit-content;
            // transform: translateY(100%);
            filter: brightness(1.5);
            opacity: 1;
            transition: height 0.2s ease-out;

            .item-control {
              color: var(--color-text-light-highlight);
              cursor: pointer;

              &:hover {
                color: var(--color-text-highlight);
              }
            }

            .item-delete {
              opacity: 1;
            }
          }

          .item-charge-indicator {
            height: 6px;
            position: absolute;
            background: var(--fg-color);
            top: 0px;
            left: 0;
            max-width: 100%;
            width: 0;
            filter: brightness(2) saturate(1.5) drop-shadow(0 0 3px var(--fg-color));
            pointer-events: none;
          }

          &.weapon-card,
          &.gear-card {
            --charge-indent: 0px;
            left: 15px;
            width: calc(100% - 15px);
            .is-equipped-container {
              .item-toggle-equipped {
                color: var(--color-text-light-highlight);
                cursor: pointer;

                &:hover {
                  color: var(--color-text-highlight);
                }

                i {
                  font-size: 1.2em;
                }
              }
            }

            .is-equipped-container,
            .reload-container {
              position: absolute;
              top: 50%;
              transform: translate(0%, -50%);

              a {
                text-shadow:
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                  0 0 1px var(--icon-shadow, var(--K4-dBLACK));
                transition: transform 0.3s ease;

                &:hover {
                  transform: scale(1.5);
                }
              }

              &.is-equipped-container {
                --icon-shadow: var(--K4-ddGOLD);
                color: var(--K4-GOLD);
                left: -21px;
              }

              &.reload-container {
                --icon-shadow: var(--K4-RED);
                color: var(--K4-ddRED);
                font-size: 20px;
                right: -24px;

                a:hover {
                  animation: icon-pulse 2.5s infinite;
                }
              }

              @keyframes icon-pulse {
                0% {
                  filter: brightness(1);
                  text-shadow:
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK));
                }

                20% {
                  filter: brightness(1.75);
                  text-shadow:
                    0 0 2px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 4px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 6px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 8px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 10px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 12px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 14px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 16px var(--icon-shadow, var(--K4-dBLACK));
                }

                40% {
                  filter: brightness(1);
                  text-shadow:
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK)),
                    0 0 1px var(--icon-shadow, var(--K4-dBLACK));
                }
              }
            }

            .far.fa-hand {
              text-shadow: none;
            }
          }

          &.passive-card {
            background: rgb(from var(--bg-color) r g b / 0.25);
            background: transparent;
            --fg-color: var(--passive-color);
            border: none;
            padding: 0 5px;
            order: 2;

            .item-name,
            .item-name * {
              font-weight: bold;
              font-style: italic;
              // pointer-events: none;
              box-shadow: none !important;
              text-shadow: none !important;
              cursor: default !important;
            }

            img {
              filter: drop-shadow(0 0 0px black);
              scale: 1;
            }
          }
        }

        .dotline {
          position: absolute;
          right: 10px;
          width: min-content;
          transform: translateY(-50%);
          top: 50%;
          display: inline-flex;
          gap: 2px;

          .dot {
            display: inline-block;
            width: 12px;
            height: 4px;
            border-radius: 50%;
            border: 1px solid var(--K4-bbGOLD);

            &.empty {
              background: transparent;
            }

            &.filled {
              background: var(--K4-bbGOLD);
            }
          }
        }

        .gear-card .dotline {
          top: unset;
          bottom: 0;
          right: 4px;
          .dot {
            width: 4px;

            &.empty {
              filter: grayscale(1) brightness(0.5);
            }

            &:nth-child(5n) {
              margin-right: 2px;
            }
            // border-radius: 0;
          }
        }

        .weapon-card {
          margin-bottom: 0px;

          + .weapon-attack-block {
            margin-top: 3px;
            // background: color-mix(in srgb, var(--K4-ddRED) 50%, transparent);
            border-top: none;
            border-bottom: 2px solid var(--K4-RED);
            // border-width: 3px;
            // border-top: 3px solid var(--K4-RED);
          }

          .dotline {
            .dot {
              border: 1px solid var(--K4-bGOLD);
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              width: 6px;
              height:12px;
              &.empty {
                background: transparent;
              }

              &.filled {
                background: var(--K4-bGOLD);
              }
            }
          }
        }
        .weapon-attack-block {
          // border-radius: 10px;
          // border: 2px outset var(--K4-bRED);
          margin-left: 15px;
          padding: 0 5px;
          width: calc(100% - 15px);
          // margin-bottom: 3px;
          border-top: 1px solid var(--K4-RED);

          &.insufficient-ammo {
            filter: grayscale(1);
            opacity: 0.5;
            pointer-events: none;
          }

          &:hover {
            background: color-mix(in srgb, var(--K4-ddRED) 25%, transparent);
          }

          .attack-top-row {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            .attack-name {
              font-size: 12px;
              line-height: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              color: var(--K4-RED);
              white-space: nowrap;
              width: min-content;
            }
            .attack-harm {
              width: 20px;
              font-size: 16px;
              line-height: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              color: var(--K4-BLUE);
              margin-right: 5px;
              &::before {
                content: "[";
                color: black;
                font-size: 12px;
                vertical-align: middle;
              }
              &::after {
                content: "]";
                color: black;
                font-size: 12px;
                vertical-align: middle;
              }
            }
            .dotline {
              position: absolute;
              font-size: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              right: 5px;
              // transform: none;
              // line-height: 16px;
              // place-self: flex-end;

              .dot {
                border: 1px solid black;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                width: 6px;
                height: 12px;
                &.empty {
                  background: transparent;
                }

                &.filled {
                  background: black;
                }
              }
            }
          }

          .attack-bottom-row {
            .attack-special {
              font-size: 12px;
              text-indent: 25px;
              margin-top: -2px;
              color: var(--K4-RED);
              white-space: nowrap;

              .down-arrow {
                position: relative;
                top: -3px;
                font-weight: 1000;
                font-size: 10px;
              }
            }
          }
        }

        &.move-list {
          --fg-color: var(--K4-bGOLD);
          --bg-color: var(--K4-BLACK);
        }

        &.disadvantage-list {
          --fg-color: var(--K4-bRED);
          --bg-color: var(--K4-ddRED);
          --passive-color: var(--K4-dRED);
        }

        &.advantage-list {
          --fg-color: var(--K4-bGOLD);
          --bg-color: var(--K4-ddGOLD);
          --passive-color: var(--K4-dGOLD);
        }

        &.darksecret-list {
          --fg-color: rgb(200, 200, 200);
          --bg-color: rgb(14, 14, 14);
          --passive-color: rgb(200, 200, 200);

          img {
            filter: grayscale(100%) brightness(1.5);
          }
        }

        &.relationship-list {
          .move-card {
            background: var(--relation-bg-color);
            border: var(--relation-border-size) var(--relation-border-style)
              var(--relation-border-color);
            // box-sizing: content-box;

            .move-info.item-name {
              color: var(--relation-fg-color);
              line-height: 1;
            }

            &.relationship-card-0 {
              --relation-bg-color: var(--K4-bbBLUE);

              --relation-bg-color: transparent;
              --relation-fg-color: var(--K4-bBLUE);
              --relation-border-size: 1px;
              --relation-border-color: transparent; // var(--K4-bbBLUE);
              order: 3;
              filter: saturate(0.5);
              .move-info.item-name {
                font-style: italic;
                font-weight: bold;
              }
            }
            &.relationship-card-1 {
              --relation-bg-color: var(--K4-bBLUE);
              --relation-fg-color: var(--K4-ddBLUE);
              --relation-border-size: 1px;
              --relation-border-style: solid;
              --relation-border-color: var(--K4-BLUE);
              order: 2;
              filter: saturate(0.4) contrast(1.5);
            }
            &.relationship-card-2 {
              --relation-bg-color: var(--K4-ddBLUE);
              --relation-fg-color: var(--K4-bbBLUE);
              --relation-border-size: 1px;
              --relation-border-style: outset;
              --relation-border-color: var(--K4-bBLUE);
              order: 1;
              .move-info.item-name {
                font-weight: bold;
              }
            }
          }
        }

        &.weapon-list {
          --fg-color: var(--K4-bbGOLD);
          --bg-color: var(--K4-ddRED);
          gap: 0px;

          > * {
            order: 1;
          }
        }

        &.gear-list {
          --fg-color: var(--K4-bGOLD);
          --bg-color: var(--K4-BLACK);
          gap: 0px;

          .gear-card {
            padding: 2px 5px;

            .is-equipped-container {
              scale: 0.8;
              transform-origin: center top;
              // top: 0;
              left: -18px;
            }
          }
        }
      }

      .sheet-header {
        .top-section {
          .character-name {
            input {
              margin: 0 0 -12px 0;
              height: 60px;
              width: 96%;
              font-size: 50px;
            }
          }
        }
      }

      .sheet-topper {
        // height: 280px;
        .actor-picture {
          height: 280px;
        }
        .move-section-container {
          width: 100%;

          .hooks-and-drive {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: -15px;
            margin-bottom: 5px;

            .section-label {
              display: inline-block;
              border: none;
              margin: 0;
              padding: 0;
              text-shadow: none;
            }

            .personal-drive {
              position: absolute;
              top: 30px;
              right: 0px;
              display: flex;
              align-items: center;
              gap: 5px;
              background: rgba(0, 0, 0, 0.25);
              padding: 0 15px 0 15px;
              border-bottom-left-radius: 25px;
              border: 3px solid black;
              border-top: none;
              border-right: none;
              .section-label {
                font-weight: 1000;
                font-size: 12px;
                line-height: 5px;
                margin-bottom: -2px;
                // vertical-align: baseline;
              }

              .drive-entry {
                font-size: 12px;
                line-height: 5px;
                // vertical-align: baseline;
              }
            }
            .hooks {
              display: flex;
              align-items: center;
              gap: 0px;
              .section-label {
                display: inline-block;
                rotate: -90deg;
                transform-origin: center center;
                margin-left: -10px;
                margin-right: -15px;
                font-family: Sokol;
                font-size: 40px;
              }
              .hook-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3px;
                .hook-entry {
                  display: flex;
                  input[type="checkbox"] {
                    margin-right: 5px;
                  }
                  .hook-text {
                    width: 100%;
                    font-size: 12px;
                    border: none;
                    font-family: var(--font-primary);
                    font-weight: 1000;
                    color: var(--K4-bbGOLD);
                    background: #1b1b1b;
                  }
                  input[type="checkbox"]:checked + .hook-text {
                    background: transparent;
                    color: #444;
                    font-weight: normal;
                    font-style: italic;
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
          .move-section {
            position: relative;

            .section-label {
              text-align: left;
              text-indent: 30px;
            }
            .ongoing,
            .forward {
              border-radius: 25px;
              background: var(--K4-dRED);
              padding: 5px;
              width: fit-content;
              flex-grow: 0;
              position: absolute;
              top: -5px;
              right: 125px;
              background: transparent;
              color: black;
              font-weight: 1000;
              text-shadow: none;
              select {
                border: 1px solid black;
                border-radius: 25px;
                background: var(--K4-RED);
                height: 18px;
                font-size: 12px;
              }

              &.forward {
                right: 0;
                font-weight: normal;
                font-style: italic;

                select {
                  background: transparent;
                  color: black;
                  border: none;
                }
              }
            }
            .move-list {
              width: 100%;
              flex-wrap: wrap;
              align-content: flex-start;
              justify-content: flex-start;
              padding: 3px;
              margin-right: 20px;
              margin-bottom: 0px;

              .move-card {
                width: calc(50% - 2px);
                padding: 3px;
                &.has-tokens {
                  padding-bottom: 15px;
                }
              }
            }
          }

          .modifier-topper {
            display: flex;
            justify-content: flex-start;
            margin-top: 0px;
            min-height: 35px;
            // margin-bottom: 20px;
            // background: rgba(0, 0, 0, 0.25);
            padding-left: 20px;
            .modifiers-summary {
              // background: rgba(0, 0, 0, 0.25);
              font-size: 12px;
              margin-top: 5px;
              .move-name {
                font-size: 12px;
              }

              .stability-modifier:not(:last-of-type)::after,
              .wound-modifier:not(:last-of-type)::after {
                content: ", ";
              }

              .stability-modifiers-summary {
                white-space: nowrap;
                label {
                  font-family: var(--font-primary-caps);
                  font-weight: 1000;
                  color: var(--K4-bRED);
                  white-space: nowrap;
                }
              }
              .wound-modifiers-summary {
                white-space: nowrap;
                // text-align: right;
                width: 100%;
                label {
                  font-family: var(--font-primary-caps);
                  font-weight: 1000;
                  color: var(--K4-bRED);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .sheet-tabs {
        justify-content: flex-end;
        .choice {
          font-family: var(--font-primary-caps);
          padding: 5px 10px;

          .condition-count {
            width: 18px;
            height: 18px;
            font-size: 16px;
            line-height: 10px;
          }
        }
      }

      .sheet-body {
        #Stats {
          .middle-section {
            display: flex;
            gap: 10px;

            .attribute-column {
              transform-origin: top right;
              scale: 90%;
              flex: 0 0 auto;

              .attribute-box {
                select,
                select option {
                  font-family: var(--font-primary);
                  font-weight: 1000;
                  font-size: 24px;
                  box-shadow: none !important;
                }
                td:not([class]) {
                  font-size: 11px;
                  line-height: 10px;
                  vertical-align: top;
                  font-family: var(--font-primary-caps);
                  font-style: normal;
                  font-weight: 1000;
                }
              }
            }

            .advantage-box {
              flex: 1;
              min-width: 0;
            }
          }
        }

        #Conditions {
          .two-column {
            display: flex;
            gap: 10px;
          .stability-conditions {
            padding: 0;
            flex-basis: 100%;

            .stability-section,
            .wounds-section {
              pointer-events: none;

              &.stability-section {
                padding: 0;
                pointer-events: none;
                .stability-controls {
                  display: flex;
                  justify-content: stretch;
                  gap: 5px;
                  flex-wrap: nowrap;
                  pointer-events: none;

                  .stability-value-container {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;
                    background: var(--bg-color-row);
                    padding: 3px 0px;
                    border-radius: 15px;
                    margin-bottom: 5px;

                    &.stability-broken {
                      --bg-color-value: var(--K4-bRED);
                      --fg-color-value: var(--K4-bWHITE);
                      --bg-color-row: var(--K4-dBLACK);
                      --fg-color-label: var(--K4-bRED);

                      .stability-value {
                        display: none;
                      }
                      .stability-label {
                        font-size: 30px;
                        text-align: center;
                        width: 100%;
                      }
                    }
                    &.stability-critical {
                      --bg-color-value: var(--K4-bRED);
                      --fg-color-value: var(--K4-bWHITE);
                      --bg-color-row: var(--K4-dRED);
                      --fg-color-label: var(--K4-bWHITE);
                      .stability-label {
                        font-size: 20px;
                      }
                    }
                    &.stability-serious {
                      --bg-color-value: var(--K4-ddRED);
                      --fg-color-value: var(--K4-bRED);
                      --bg-color-row: transparent;
                      --fg-color-label: var(--K4-bRED);
                      .stability-label {
                        font-size: 20px;
                      }
                    }
                    &.stability-moderate {
                      --bg-color-value: transparent;
                      --fg-color-value: var(--K4-RED);
                      --bg-color-row: transparent;
                      --fg-color-label: var(--K4-RED);
                      .stability-value {
                        border-color: transparent;
                        background: transparent;
                      }
                    }
                    &.stability-composed {
                      --bg-color-value: transparent;
                      --fg-color-value: var(--K4-BLACK);
                      --bg-color-row: transparent;
                      --fg-color-label: var(--K4-BLACK);

                      .stability-value {
                        font-weight: normal;
                        font-weight: 600;
                        border-color: transparent;
                      }
                      .stability-label {
                        font-weight: 600;
                      }
                    }
                    .stability-value {
                      margin-left: 10px;
                      display: block;
                      height: 30px;
                      width: 30px;
                      line-height: 26px;
                      font-size: 18px;
                      font-weight: 1000;
                      background: var(--bg-color-value);
                      border-radius: 15px;
                      color: var(--fg-color-value);
                      border: 3px solid var(--fg-color-value);
                    }

                    .stability-label {
                      display: block;
                      height: 30px;
                      width: 30px;
                      line-height: 30px;
                      font-size: 16px;
                      font-weight: 1000;
                      white-space: nowrap;
                      color: var(--fg-color-label);
                    }
                  }

                  .stability-minus,
                  .stability-plus {
                    line-height: 36px;
                    pointer-events: all !important;
                    cursor: pointer;
                  }
                }
                .stability-states {
                  font-style: italic;
                  font-size: 14px;
                }

                .stability-modifiers,
                .wound-modifiers {
                  margin-left: 0px;
                  .stability-modifier,
                  .wound-modifier {
                    text-align: left;
                    font-size: 14px;
                    .move-name {
                      font-size: 14px;
                    }
                    // white-space: nowrap;
                  }
                }
              }

              &.wounds-section {
                .two-column-wound {

                  .wound,
                  input[type="text"] {
                    pointer-events: all;
                  }
                }

                .wound-modifiers {
                  margin-left: 0px;
                  .wound-modifier {
                    text-align: left;
                    font-size: 14px;
                    .move-name {
                      font-size: 14px;
                    }
                    // white-space: nowrap;
                  }
                }
              }
            }
            .condition-hold {
              display: flex;
              margin: 0;
              justify-content: flex-end;
              a {
                margin-left: 5px;
                margin-right: 5px;
              }

              .token-condition-spend.disabled {
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }
        }
      }
    }

    .kult-sheet.observer {
      .sheet-topper {
        .move-section-container {
          .move-section {
            .move-list {
              .move-card {
                &:hover {
                  .item-controls {
                    opacity: 0;
                    cursor: default;
                    pointer-events: none;
                    height: 0 !important;
                    overflow: hidden !important;
                  }
                }
                .move-roll {
                  pointer-events: none;
                }
              }
            }
          }
        }
      }

      .sheet-body {
        #Stats {
          .middle-section {
            .advantage-box {
              .item-list {
                .move-card {
                  &:hover {
                    .item-controls {
                      opacity: 0;
                      cursor: default;
                      pointer-events: none;
                      height: 0 !important;
                      overflow: hidden !important;
                    }
                  }
                  .move-roll {
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
        #Conditions,
        #Advancement {
          a,
          img {
            pointer-events: none !important;
            cursor: default !important;
          }
        }
      }
    }
  }
}

.armor-value {
  position: relative;
  display: inline-block;
  width: min-content;
  top: 4px;

  i {
    color: var(--K4-bbGOLD);
    font-size: 16px;
  }

  .value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: var(--K4-bbGOLD);
  }
}
