/* Select elements with IDs starting with "EunosPCSheet" */
[id^="EunosPCSheet"] {
  .window-header {
    /* Header Styles */
  }

  .window-content {
    overflow-y: scroll;
    .kult-sheet {
      padding-bottom: 0;

      .item-list {
        .move-card {
          position: relative;
          // overflow: hidden;

          &:hover {
            .item-controls {
              transform: translateY(0);
              height: 24px;
              opacity: 1;
            }
          }

          &.has-tokens {
            height: 40px;

            .advantage-column {
              position: absolute;
              bottom: 2px;
              right: 3px;
            }
          }

          .item-name {
            display: flex;
            flex-wrap: nowrap;
            justify-content: stretch;
            align-items: flex-start;
            width: fit-content;
          }

          .item-controls {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            gap: 3px;
            height: 0px;
            overflow: hidden;
            padding: 0 8px;
            background-color: rgba(0, 0, 0, 0.8);
            border-top-left-radius: 8px;
            width: fit-content;
            // transform: translateY(100%);
            filter: brightness(1.5);
            opacity: 1;
            transition: height 0.2s ease-out;

            .item-control {
              color: var(--color-text-light-highlight);
              cursor: pointer;

              &:hover {
                color: var(--color-text-highlight);
              }
            }

            .item-delete {
              opacity: 1;
            }
          }

          &.weapon-card,
          &.gear-card {
            left: 15px;
            .is-equipped-container {
              .item-toggle-equipped {
                color: var(--color-text-light-highlight);
                cursor: pointer;

                &:hover {
                  color: var(--color-text-highlight);
                }

                i {
                  font-size: 1.2em;
                }
              }
            }
            .is-equipped-container {
              position: absolute;
              left: -21px;
              top: 5px;
              text-shadow:
                0 0 1px black,
                0 0 1px black,
                0 0 1px black,
                0 0 1px black,
                0 0 1px black,
                0 0 1px black,
                0 0 1px black;
            }

            .far.fa-hand {
              text-shadow: none;
            }
          }
        }

        .ammo-display {
          position: absolute;
          right: 10px;
          width: min-content;
          transform: translateY(-50%);
          top: 50%;
          display: inline-flex;
          gap: 2px;

          .ammo-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid var(--K4-bbGOLD);

            &.empty {
              background: transparent;
            }

            &.filled {
              background: var(--K4-bbGOLD);
            }
          }
        }

        .gear-card .ammo-display {
          .ammo-dot {
            width: 4px;
            border-radius: 0;
          }
        }

        .weapon-card + .weapon-attack-block {
          margin-top: -5px;
        }
        .weapon-attack-block {
          // border-radius: 10px;
          // border: 2px outset var(--K4-bRED);
          margin-left: 20px;
          padding: 0 5px;
          width: calc(100%);
          // margin-bottom: 3px;
          border-bottom: 1px solid var(--K4-RED);

          &:hover {
            background: color-mix(in srgb, var(--K4-ddRED) 25%, transparent);
          }

          .attack-top-row {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            .attack-name {
              font-size: 12px;
              line-height: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              color: var(--K4-RED);
              white-space: nowrap;
              width: min-content;
            }
            .attack-harm {
              width: 20px;
              font-size: 16px;
              line-height: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              color: var(--K4-BLUE);
              margin-right: 5px;
              &::before {
                content: "[";
                color: black;
                font-size: 12px;
                vertical-align: middle;
              }
              &::after {
                content: "]";
                color: black;
                font-size: 12px;
                vertical-align: middle;
              }
            }
            .ammo-display {
              position: absolute;
              font-size: 16px;
              font-family: var(--font-primary);
              font-weight: 1000;
              right: 10px;
              // transform: none;
              // line-height: 16px;
              // place-self: flex-end;

              .ammo-dot {
              border: 1px solid black;
              &.empty {
                background: transparent;
              }

              &.filled {
                background: black;
              }
            }
            }
          }

          .attack-bottom-row {
            .attack-special {
              font-size: 12px;
              text-indent: 25px;
              margin-top: -2px;
              color: var(--K4-RED);

              .down-arrow {
                position: relative;
                top: -3px;
                font-weight: 1000;
                font-size: 10px;
              }
            }
          }
        }

        &.disadvantage-list {
          .move-card {
            background: var(--K4-ddRED);
            border-color: var(--K4-bRED);

            .disadvantage-info.item-name {
              color: var(--K4-bRED);
            }
          }
        }

        &.advantage-list {
          .move-card {
            background: var(--K4-ddGOLD);
            border-color: var(--K4-bGOLD);

            .advantage-info.item-name {
              color: var(--K4-bGOLD);
            }
          }
        }

        &.darksecret-list {
          .move-card {
            background: rgb(14, 14, 14);
            border-color: rgb(200, 200, 200);

            .move-info.item-name {
              color: rgb(200, 200, 200);
            }
          }
        }

        &.relationship-list {
          .move-card {
            background: var(--K4-ddBLUE);

            .move-info.item-name {
              color: var(--K4-bbBLUE);
            }
          }
        }
      }

      .sheet-header {
        .top-section {
          .character-name {
            input {
              margin: 0 0 -12px 0;
              height: 60px;
              width: 96%;
              font-size: 50px;
            }
          }
        }
      }

      .sheet-topper {
        // height: 280px;
        .actor-picture {
          height: 280px;
        }
        .move-section-container {
          width: 100%;

          .hooks-and-drive {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: -15px;
            margin-bottom: 5px;

            .section-label {
              display: inline-block;
              border: none;
              margin: 0;
              padding: 0;
              text-shadow: none;
            }

            .personal-drive {
              position: absolute;
              top: 30px;
              right: 0px;
              display: flex;
              align-items: center;
              gap: 5px;
              background: rgba(0, 0, 0, 0.25);
              padding: 0 15px 0 15px;
              border-bottom-left-radius: 25px;
              border: 3px solid black;
              border-top: none;
              border-right: none;
              .section-label {
                font-weight: 1000;
                font-size: 12px;
                line-height: 5px;
                margin-bottom: -2px;
                // vertical-align: baseline;
              }

              .drive-entry {
                font-size: 12px;
                line-height: 5px;
                // vertical-align: baseline;
              }
            }
            .hooks {
              display: flex;
              align-items: center;
              gap: 0px;
              .section-label {
                display: inline-block;
                rotate: -90deg;
                transform-origin: center center;
                margin-left: -10px;
                margin-right: -15px;
                font-family: Sokol;
                font-size: 40px;
              }
              .hook-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3px;
                .hook-entry {
                  display: flex;
                  input[type="checkbox"] {
                    margin-right: 5px;
                  }
                  .hook-text {
                    width: 100%;
                    font-size: 12px;
                    border: none;
                    font-family: var(--font-primary);
                    font-weight: 1000;
                    color: var(--K4-bbGOLD);
                    background: #1b1b1b;
                  }
                  input[type="checkbox"]:checked + .hook-text {
                    background: transparent;
                    color: #444;
                    font-weight: normal;
                    font-style: italic;
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
          .move-section {
            position: relative;

            .section-label {
              text-align: left;
              text-indent: 30px;
            }
            .ongoing,
            .forward {
              border-radius: 25px;
              background: var(--K4-dRED);
              padding: 5px;
              width: fit-content;
              flex-grow: 0;
              position: absolute;
              top: -5px;
              right: 125px;
              background: transparent;
              color: black;
              font-weight: 1000;
              text-shadow: none;
              select {
                border: 1px solid black;
                border-radius: 25px;
                background: var(--K4-RED);
                height: 18px;
                font-size: 12px;
              }

              &.forward {
                right: 0;
                font-weight: normal;
                font-style: italic;

                select {
                  background: transparent;
                  color: black;
                  border: none;
                }
              }
            }
            .move-list {
              width: 100%;
              flex-wrap: wrap;
              align-content: flex-start;
              justify-content: flex-start;
              padding: 10px;
              margin-right: 20px;
              margin-bottom: -20px;

              .move-card {
                width: calc(50% - 10px);
                padding: 3px;
                &.has-tokens {
                  padding-bottom: 15px;
                }
              }
            }
          }

          .modifier-topper {
            display: flex;
            justify-content: flex-start;
            margin-top: 10px;
            // margin-bottom: 20px;
            // background: rgba(0, 0, 0, 0.25);
            padding-left: 20px;
            .modifiers-summary {
              // background: rgba(0, 0, 0, 0.25);
              font-size: 12px;
              .move-name {
                font-size: 12px;
              }

              .stability-modifier:not(:last-of-type)::after,
              .wound-modifier:not(:last-of-type)::after {
                content: ", ";
              }

              .stability-modifiers-summary {
                white-space: nowrap;
                label {
                  font-family: var(--font-primary-caps);
                  font-weight: 1000;
                  color: var(--K4-bBLUE);
                  white-space: nowrap;
                }
              }
              .wound-modifiers-summary {
                white-space: nowrap;
                // text-align: right;
                width: 100%;
                label {
                  font-family: var(--font-primary-caps);
                  font-weight: 1000;
                  color: var(--K4-bRED);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .sheet-tabs {
        justify-content: flex-end;
        .choice {
          font-family: var(--font-primary-caps);
          padding: 5px 10px;

          .condition-count {
            width: 18px;
            height: 18px;
            font-size: 16px;
            line-height: 10px;
          }
        }
      }

      .sheet-body {
        #Stats {
          .middle-section {
            .attribute-column {
              transform-origin: top right;
              scale: 90%;

              .attribute-box {
                select,
                select option {
                  font-family: var(--font-primary);
                  font-weight: 1000;
                  font-size: 24px;
                  box-shadow: none !important;
                }
                td:not([class]) {
                  font-size: 11px;
                  line-height: 10px;
                  vertical-align: top;
                  font-family: var(--font-primary-caps);
                  font-style: normal;
                  font-weight: 1000;
                }
              }
            }
          }
        }

        #Conditions {
          .stability-conditions {
            .stability-section,
            .wounds-section {
              select {
                margin-bottom: 5px;
              }
              .stability-states {
                font-style: italic;
                font-size: 14px;
              }
              .stability-modifiers,
              .wound-modifiers {
                margin-left: 0px;
                .stability-modifier,
                .wound-modifier {
                  text-align: left;
                  font-size: 14px;
                  .move-name {
                    font-size: 14px;
                  }
                  // white-space: nowrap;
                }
              }
            }
            .condition-hold {
              display: flex;
              margin: 0;
              justify-content: flex-end;
              a {
                margin-left: 5px;
                margin-right: 5px;
              }

              .token-condition-spend.disabled {
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}

body.gm-user {
  [id^="EunosPCSheet"]
    .window-content
    .kult-sheet
    .item-list
    .move-card
    .item-control {
    display: block !important;
  }
}

.armor-value {
  position: relative;
  margin-right: 5px;

  i {
    color: var(--K4-bbGOLD);
    font-size: 16px;
  }

  .value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: var(--K4-bbGOLD);
    line-height: 1;
  }
}
