@forward "pc-sheet.scss";
@forward "item-sheet.scss";

.kult-sheet {
  background: none !important;
}

.move-name {
  font-family: Ktrata;
  font-weight: bold;
  font-style: italic;
  color: var(--K4-bBLUE);
  text-shadow: none;
    // 1px 1px 1px var(--K4-bbBLUE),
    // -1px -1px 1px var(--K4-bbBLUE);
}

.editor-row {

  .editor {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 30px;
    height: auto;
    padding: 0 5px;

    .editor-content {
      min-height: 30px;
    }
  }

  &.uneditable .editor {
    background: transparent;
    border: none;
  }
}

input[readonly] {
  background: transparent;
  box-shadow: none !important;
}
