@use "stage-locations";
@use "stage-npcs";
@use "stage-pcs";
@use "stage-safety-buttons";

#STAGE {
  position: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  perspective: 1000px;

  #BLACKOUT-LAYER {
    display: block;
    position: fixed;
    height: 1000%;
    width: 1000%;
    background: black;
    pointer-events: none;
    transform-style: preserve-3d;
    // transform: rotateX(40deg);
    transform: translate(-50%, -50%) translate3d(0, 0, 1000px) rotateX(40deg);
    top: 50%;
    left: 50%;
    // z-index: 1000000;
    visibility: visible;
    // opacity: 0.5 !important;
    // transform: translate3d(0, 0, -1000px);
    z-index: 1;
    // visibility: hidden;
  }

  #SECTION-3D {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective-origin: center center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% - 0.5 * var(--sidebar-width));
    // opacity: 0;

    .canvas-layer:not(.distant-overlay-layer) {
      display: block;
      position: absolute;
      height: 7000px;
      width: 7000px;
      pointer-events: none;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      will-change: transform;
      transform: translate(-50%, -50%);
      // top: 200px;

      top: 50%;
      left: 50%;

      * {
        // For all child elements of canvas layers:
        position: absolute;
        pointer-events: none;
        transform-style: preserve-3d;
      }


      &.under-layer {
        background: radial-gradient(
          circle at 50% 50%,
          transparent 0%,
          rgba(0, 0, 0, 0.7) 0%,
          rgb(0, 0, 0) 2%
        );
      }



      &.background-layer {
        background: black url("modules/eunos-kult-hacks/assets/images/stage/stage-map-bg.webp");
        // background: black url("./assets/images/stage/stage-map-bg.webp");  // For Production
        // background-size: contain;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        filter: hue-rotate(var(--hue-rotate, 130deg)) saturate(var(--saturation, 50%));
        transition: background-image 2s ease-in-out;

        &.entry-hidden {
          background: black url("modules/eunos-kult-hacks/assets/images/stage/stage-map-bg-no-entry.webp");
          // background: black url("./assets/images/stage/stage-map-bg-no-entry.webp"); // For Production
          background-position: 0px 0px;
          background-repeat: no-repeat;
        }

        &.lit {
          background: white url("modules/eunos-kult-hacks/assets/images/stage/stage-map-bg-lit.webp");
          // background: white url("./assets/images/stage/stage-map-bg-lit.webp"); // For Production
          background-position: 0px 0px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
