@use "stage-locations";
@use "stage-npcs";
@use "stage-pcs";
@use "stage-safety-buttons";

#STAGE {
  position: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  #BLACKOUT-LAYER {
    display: block;
    position: fixed;
    height: 1000%;
    width: 1000%;
    background: black;
    pointer-events: none;
    // z-index: 1000000;
    visibility: hidden;
  }

  #SECTION-3D {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    perspective: 800px;
    transform-style: preserve-3d;
    perspective-origin: center center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .canvas-layer {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      pointer-events: none;
      transform-style: preserve-3d;
      transform: translate(-50%, -50%) translate3d(-3%, -120%, -1500px)
        rotateY(-3deg) rotateX(45deg) rotateZ(23deg);

      * {
        // For all child elements of canvas layers:
        position: absolute;
        pointer-events: none;
        transform-style: preserve-3d;
      }

      &.under-layer {
        height: 500%;
        width: 500%;
        background: radial-gradient(
          circle at 25% 0%,
          transparent,
          rgba(0, 0, 0, 0.9) 50%
        );
      }

      &.background-layer {
        height: 500%;
        width: 500%;
        background: black
          url("modules/eunos-kult-hacks/assets/images/stage/stage-map-bg.webp");
        // background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        filter: hue-rotate(130deg) saturate(0.5);
      }
    }
  }
}
