
#LOCATIONS {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: calc(70% - 0.5 * var(--sidebar-width));
  // z-index: 1000;
  // border-radius: 30px;
  // border: 10px solid var(--K4-GOLD);
  // background: rgba(0, 0, 0, 0.5);
  // padding: 20px;
  // backdrop-filter: blur(10px);
  height: 30vh;
  width: 35vw;
  // overflow: hidden;

  // visibility: hidden; // !important;

  .location-name {
    font-family: var(--font-primary-smallcaps);
    font-size: 32px;
    color: var(--K4-dBLACK);

    text-align: center;
    height: 40px;
    width: 100%;
    background: var(--K4-dGOLD);
    opacity: 0;
  }

  .location-image-wrapper {
    height: 100%;
    width: 100%;
    filter: drop-shadow(10px 10px 5px var(--K4-dBLACK));

    .location-image {
      height: 100%;
      width: 100%;
      object-fit: cover;

      mask-image: url("modules/eunos-kult-hacks/assets/backgrounds/torn-paper-mask-wide.webp");
      // mask-image: url("./assets/backgrounds/torn-paper-mask-wide.webp"); // For Production
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;

    }

}

  .location-description {
    position: absolute;
    bottom: 5px;
    padding: 5px;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--K4-bWHITE);
    text-shadow:
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK),
      0 0 2px var(--K4-dBLACK);
    text-align: justify;
  }
}
