#PCS {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100vw - var(--sidebar-width));
  padding: 0 10px;
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  pointer-events: none;
  gap: 5px;
  transform-style: preserve-3d;
  perspective-origin: center center;
  perspective: 1000px;
  opacity: 0;


  .session-scribe-indicator {
    position: absolute;
    // left: -20px;
    right: -30px;
    // transform: translateX(-50%);
    // bottom: -50px;
    top: 0;
    height: 275px;
    width: 275px;
    // transform: scaleX(-1) scaleY(1.2);
    // width: 75px;
    // background: var(--K4-WHITE);
    border-radius: 50%;
    // border: 1px solid var(--K4-bGOLD);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: var(--K4-dGOLD);
  }


  .pc-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    flex-basis: 20%;
    // background: rgba(255, 0, 0, 0.2);
    // outline: 2px dotted red;
    transform-style: preserve-3d;
    transform-origin: center center;

    .pc-spotlight-container {
      position: absolute;
      top: unset;
      bottom: 0px;
      width: 100%;
      height: 250px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;

      .pc-spotlight {
        position: absolute;
        bottom: 0px;
        z-index: 1;

        &.pc-spotlight-off {
          z-index: 0;
        }
      }
    }

    &:nth-of-type(1) {
      .pc-portrait-shadow {
        bottom: 20px;
        transform: skewX(40deg) scaleY(0.7);
      }
      .pc-portrait-container {
        bottom: 20px;
        transform: translate(-50%, 0%) skewY(-5deg) scale(0.9);
      }
    }

    &:nth-of-type(2) {
      .pc-portrait-shadow {
        bottom: 30px;
        transform: skewX(20deg) scaleY(0.7);
      }
      .pc-portrait-container {
        // left: 15%;
        bottom: 30px;
        transform: translate(-50%, 0%) skewY(-2.5deg) scale(0.95);
      }
    }

    &:nth-of-type(3) {
      // .pc-spotlight-container {
      //   .pc-spotlight {
      //     top: -10px;
      //   }
      // }
      .pc-portrait-shadow {
        bottom: 20px;
        transform: skewX(0deg) scaleY(0.7);
      }
      .pc-portrait-container {
        scale: 1;
      }
    }

    &:nth-of-type(4) {
      // .pc-spotlight-container {
      //   .pc-spotlight:nth-of-type(1),
      //   .pc-spotlight:nth-of-type(2) {
      //     top: -15px;
      //   }
      //   .pc-spotlight:nth-of-type(3),
      //   .pc-spotlight:nth-of-type(4) {
      //     top: -5px;
      //   }
      // }
      .pc-portrait-shadow {
        bottom: 30px;
        transform: skewX(-20deg) scaleY(0.7);
      }
      .pc-portrait-container {
        // transform-origin: right center;
        // left: unset;
        // right: 25%;
        bottom: 30px;
        transform: translate(-50%, 0%) skewY(2.5deg) scale(0.95);
      }
    }

    &:nth-of-type(5) {
      .pc-portrait-shadow {
        bottom: 20px;
        transform: skewX(-40deg) scaleY(0.7);
      }
      .pc-portrait-container {
        // transform-origin: right center;
        // left: unset;
        // right: 25%;
        bottom: 20px;
        transform: translate(-50%, 0%) skewY(5deg) scale(0.9);
      }
    }

    .pc-portrait-shadow {
      position: absolute;
      top: unset;
      left: 0;
      bottom: 0;
      width: 100%;
      // height: 100%;
      z-index: 0;
      transform-origin: 50% 100%;
      // opacity: 0.7;
    }


    .pc-portrait-container {
      position: absolute;
      left: 50%;
      width: 15vw;
      height: calc(15vw * 222 / 160);
      top: unset;
      transform: translate(-50%, 0%);
      bottom: 25px;
      transform-origin: center bottom;
      transition: all 0.3s ease;
      pointer-events: all;
      cursor: pointer;
      // padding: 0 10%;
      // background: red;
      // border: 3px solid rgb(126, 0, 0);

      &:hover {
        scale: 1.1 !important;
        transform: translate(-50%, 0%) skewY(0) !important;

        .pc-portrait-wrapper {
          .pc-portrait {
            filter: grayscale(0);
          }
        }
      }

      .pc-portrait-wrapper {
        position: relative;
        left: 0;
        top: 0;
        // width: 160px;
        width: 100%;
        height: 100%;
        // height: calc(100% * 222 / 160);



        .pc-portrait-interior-wrapper {
          position: absolute;
          width: 65%;
          height: 68%;
          top: 12%;
          left: 50%;
          transform: translate(-50%, 0%);
          // background: lime;
          // border: 3px solid lime;
          overflow: hidden;

          > * {
            position: absolute;
            top: 0;
            left: 0;
            // transform: translate(-50%, -50%);
          }

          .pc-portrait-red-lightning {
            position: absolute;
            top: 0px;
            width: 100%;

          }

          .pc-portrait-smoke {
          }


          .pc-portrait-bg,
          .pc-portrait-fg {
            top: 10%;
            // left: 0;
            // width: 100%;
            height: 100%;
            // margin: 30px;
            overflow: hidden;
            // filter: grayscale(0.75);
            transition: all 0.3s ease;
          }

          .pc-portrait-smoke {
            z-index: 1;
          }
          .pc-portrait-bg {
            z-index: 0;
          }
          // .pc-portrait-fg {
          //   z-index: 1;
          // }

          .pc-portrait-nameplate {
            position: absolute;
            top: 0px;
            width: 100%;
            // left: 20%;
            z-index: 1;
          }
        }



        .pc-portrait-frame {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center top;
          z-index: 1;
          // visibility: hidden;

          &.pc-portrait-frame-main {
            // visibility: visible;
          }
        }



      }


      .dramatic-hook-candle-indicator {
        position: absolute;
        right: 25px;
        bottom: 80px;
        height: 50px;
        width: 50px;
        background: var(--K4-BLACK);
        border-radius: 50%;
        border: 1px solid var(--K4-bGOLD);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: var(--K4-bGOLD);

      }
    }
  }
}

#PCS-GM {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: calc(100vw - var(--sidebar-width));
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  pointer-events: all;
  // outline: 1px solid red;
  gap: 5px;


  .pc-spotlight-container {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: -200px;
    margin-bottom: -300%;
    // background: rgba(255, 0, 0, 0.2);
    width: 150%;
    // opacity: 0;
    z-index: 20;
    height: 50%;
    display: none;

    &.pc-spotlight-container-spotlit {
      // opacity: 1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      // background: rgba(0, 0, 255, 0.2);
    }
  }

  .pc-container {
    position: relative;
    // flex-grow: 1;
    height: auto;
    flex-basis: 20%;
    // width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // outline: 1px solid blue;

    // Dramatic Hooks panel
    .dramatic-hooks-panel {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -100%);
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 100%;
      // background: rgba(255, 0, 0, 0.8);

      .dramatic-hook-container {
        background: rgba(0, 0, 0, 1);
        border: 1px solid var(--K4-GOLD);
        border-radius: 3px;
        padding: 3px;
        order: 1;
        // opacity: 0.2;

        .dramatic-hook-content {
          color: var(--K4-bWHITE);
          font-size: 10px;
          line-height: 1.2;
          font-family: var(--font-primary);
        }

        &.checked {
          border-color: transparent;
          background: transparent;
          order: 2;
          text-align: right;
          * {
            opacity: 0.7;
            color: var(--K4-GREY);
            font-style: italic;
            text-decoration: line-through;
            // font-weight: 1000;
          }
        }
      }
    }


    // Portrait container
    .pc-portrait-container-wrapper {
      position: relative;
      // background: rgba(0, 255, 0, 0.25);
      height: 140px;
      scale: 1.25;
      transform-origin: 50% 100%;
      z-index: 1;
      .pc-portrait-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 140px;
        margin: 0 auto;
        border: 3px solid var(--K4-GOLD);
        border-radius: 50px / 70px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease;
        transform-origin: 0% 0%;

        &:hover,
        &.pc-portrait-container-dimmed:hover {
          border-color: var(--K4-bGOLD);
          transform: translate(-50%, calc(-50% - 2px));
          filter: none;
          scale: 1.05;
        }

        &.pc-portrait-container-dimmed {
          opacity: 1;
          filter: grayscale(1) brightness(0.5) blur(2px);
        }

        .pc-portrait {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
          transform-origin: 50% 0%;
          scale: 2;
        }
      }

      // Stability panel
      .stability-panel {
        position: absolute;
        top: 5px;
        left: 80px;
        transform: translateX(-50%);
        width: 32px;
        height: 32px;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid var(--K4-GOLD);
        border-radius: 16px;
        padding: 3px;

        .stability-number {
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 18px;
          font-weight: bold;
          color: var(--K4-bBLUE);
          text-align: center;
          cursor: pointer;
          margin-top: 4px;
          margin-bottom: -4px;

          &:hover {
            color: var(--K4-GOLD);
          }
        }

        // Popover styling
        [popover] {
          padding: 6px 10px;
          border: 1px solid var(--K4-GOLD);
          background: rgba(0, 0, 0, 1);
          border-radius: 4px;

          .stability-tier {
            font-size: 14px;
            color: var(--K4-GOLD);
            text-align: center;
            font-style: italic;
            white-space: nowrap;
          }
        }

        .stability-conditions {
          margin-top: 10px;
          font-size: 9px;
          color: var(--K4-bbBLUE);
          font-weight: 1000;
          text-align: center;
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          gap: 2px;
          justify-content: center;
          align-items: center;
          text-shadow:
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK),
            0 0 2px var(--K4-dBLACK);
        }
      }

      // Wounds panel
      .wounds-panel {
        position: absolute;
        bottom: 0;
        right: 0;
        // transform: translateX(-50%);
        width: fit-content;
        height: fit-content;
        background: rgba(0, 0, 0, 1);
        // border: 1px solid var(--K4-RED);
        // border-radius: 16px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-end;
        .critical-wound,
        .major-wound {
          font-size: 10px;
          margin: 1px 0;
          white-space: nowrap;
          order: 1;

          &.major-wound {
            color: var(--K4-RED);
            font-weight: bold;
          }
          &.critical-wound {
            color: var(--K4-bRED);
            font-weight: 1000;
            order: 0;
          }
          &.major-wound.major-wound-stabilized {
            text-decoration: line-through;
            color: #666;
            order: 4;
          }
          &.critical-wound.critical-wound-unstabilized {
            background: var(--K4-bRED);
            animation: pulse-color 2s infinite;
            width: fit-content;
            padding: 2px 3px;
            // margin-left: -3px;
            border-radius: 3px;
            @keyframes pulse-color {
              0% {
                color: black;
              }
              50% {
                color: white;
              }
              100% {
                color: black;
              }
            }
          }
        }
      }
    }
    // PC Stage Control Container
    .pc-stage-control-container {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      gap: 5px;
      width: 100%;
      pointer-events: none;
      flex-direction: column;
      width: 30px;
      height: fit-content;
      // background: rgba(0, 0, 0, 0.25);

      .pc-stage-control-button {
        background: rgba(0, 0, 0, 1);
        border-radius: 3px;
        padding: 0px;
        margin: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        pointer-events: auto;
        height: 20px;
        line-height: 10px;

        &[data-value="true"] {
          background: var(--K4-dGOLD);
          border: 1px solid var(--K4-GOLD);
          color: var(--K4-bGOLD);
        }
        &[data-value="false"] {
          background: var(--K4-dRED);
          border: 1px solid var(--K4-bRED);
          color: var(--K4-bbRED);
        }

        i {
          font-size: 10px;
          line-height: 15px;
          margin: 0;
          padding: 0;
          font-weight: normal;
        }
      }
    }
    [popover] {
      height: fit-content !important;
      overflow: hidden !important;
      padding: 5 !important;
      scale: 0.8 !important;

      > div {
        height: fit-content !important;
        text-align: left !important;
      }

      * {
        line-height: 1.2 !important;
        // margin: 0 !important;
        // padding: 0 !important;
        text-wrap: unset !important;
      }

      h3 {
        margin: 0 !important;
        margin-bottom: -25px !important;
      }

      ul {
        padding-left: 20px !important;
        line-height: 1 !important;
        li {
          line-height: 1 !important;
        }
      }

      img {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .move-name {
        position: relative;
        width: 80%;
        left: 55px;
        line-height: 50px !important;
        margin-bottom: -10px;
        text-align: left;
        font-weight: 1000 !important;
        color: var(--K4-bWHITE);
      }

      .gm-move-text {
        font-weight: 1000 !important;
        color: var(--K4-bRED);
      }
      .roll-results-block {
        > div {
          display: flex;
          align-items: center;
          gap: 5px;

          label {
            white-space: nowrap !important;
            color: var(--K4-bRED);
            font-weight: 1000 !important;
          }
        }
      }
    }

    // Triggers and Holds panel
    .triggers-and-holds-panel {
      // background: rgba(0, 255, 255, 0.5) !important;
      position: relative;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      border: 1px solid var(--K4-GOLD);
      border-radius: 3px;
      padding: 3px;
      font-size: 10px;
      color: white;

      .panel {
        &.advantages-panel {
          --trait-color: var(--K4-GOLD);
        }

        &.disadvantages-panel {
          --trait-color: var(--K4-bRED);
          border-top: 1px solid white;
        }

        .trait-container {
          position: relative;

          &.passive-advantage {
            display: none;
          }

          --counter-color-bright: var(--K4-bbGOLD);
          --counter-color-mid: var(--K4-GOLD);
          --counter-color-dark: var(--K4-dGOLD);

          &.counter-Hold {
            --counter-color-bright: var(--K4-bRED);
            --counter-color-mid: var(--K4-RED);
            --counter-color-dark: var(--K4-dRED);
          }
          &.counter-Edges {
            --counter-color-bright: var(--K4-bBLUE);
            --counter-color-mid: var(--K4-BLUE);
            --counter-color-dark: var(--K4-dBLUE);
          }
          display: flex;
          align-items: center;
          gap: 3px;
          border-top: 1px solid var(--trait-color);
          border-bottom: 1px solid var(--trait-color);

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }

          * {
            font-style: normal;
            font-weight: normal;
            line-height: 10px;
          }

          .trait-name {
            color: var(--trait-color);
            font-weight: 1000;
            width: min-content;
          }

          .dotline {
            display: flex;
            position: absolute;
            right: 2px;
            gap: 3px;
            height: 100%;
            background: var(--counter-color-dark);
            align-items: center;
            padding: 0 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            .dot {
              width: 8px;
              height: 8px;
              border-radius: 4px;
              background: var(--counter-color-mid);
              transform-origin: center;
            }

            // Dot pulsing animation
            @keyframes dotPulse {
              0% {
                background: var(--counter-color-bright);
                scale: 1;
                box-shadow: 0 0 0px var(--counter-color-mid);
              }
              50% {
                background: white;
                scale: 1.25;
                box-shadow: 0 0 8px var(--counter-colorumidr-color-mid);
              }
              100% {
                background: var(--counter-colorumidr-color-mid);
                scale: 1;
                box-shadow: 0 0 0px var(--counter-colorumidr-color-mid);
              }
            }

            // Apply staggered animation to dots
            .dot:nth-of-type(1) {
              animation: dotPulse 2s ease-in-out infinite;
            }
            .dot:nth-of-type(2) {
              animation: dotPulse 2s ease-in-out infinite 0.4s;
            }
            .dot:nth-of-type(3) {
              animation: dotPulse 2s ease-in-out infinite 0.8s;
            }
            .dot:nth-of-type(4) {
              animation: dotPulse 2s ease-in-out infinite 1.2s;
            }
            .dot:nth-of-type(5) {
              animation: dotPulse 2s ease-in-out infinite 1.6s;
            }
          }

          .counter-column {
            position: absolute;
            right: 0px;
            bottom: 0px;
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;
            background: var(--counter-color-dark);
            padding: 0px 5px;
          }

          &:hover .counter-column {
            height: 10px;
          }
        }
      }
    }
  }

  // &.pcs-container-gm {
  //   // background: rgba(255, 0, 0, 0.25);
  //   bottom: 0;
  //   .pc-portrait-container-wrapper {
  //     scale: 1;
  //     .pc-portrait-container {
  //       scale: 1;
  //       // transform: none;
  //       // bottom: unset;
  //       // bottom: ;
  //       top: 70px;
  //       left: 50%;
  //       // transform: translate(-50%, -50%);
  //       transform-origin: 0% 0%;

  //       &:hover,
  //       &.pc-portrait-container-dimmed:hover {
  //         scale: 1.05;
  //         z-index: 2;
  //       }
  //     }
  //   }
  // }
}

// #PCS {
//   height: auto;
// //   flex-direction: column;
//   top: 0;
//   bottom: 0;
//   align-items: flex-end;
// //   padding: 20px 0;

//   .pc-container {
//     position: static;
//     // outline: 2px dotted red;
//     height: 100%;
// //     top: 0;

// //     // left: -50px;

// //     &:nth-of-type(even) .pc-portrait-container-wrapper {
// //       left: 100px;
// //     }

//     &:nth-of-type(1), &:nth-of-type(5) {
//       top: 50px;
//     }
//     &:nth-of-type(2), &:nth-of-type(4) {
//       top: 25px;
//     }
//     &:nth-of-type(3) {
//       img.pc-portrait-frame {
//         filter: brightness(1.5);
//       }
//     }

//     .pc-portrait-container-wrapper {
//       position: relative;
//       border-radius: 0;
//       height: 300px;
//       transform-origin: 50% 50%;
//       width: 100%;
//       left: 0;
//       top: 0;
//       // outline: 2px dotted lime;
//       scale: 1;
//       transform: translate(0, 100%);
//       // scale: 2;
//       // outline: 2px dotted lime;

//       .pc-portrait-container {
//         // transform-origin: 50% 50%;
//         border-radius: 0;
//         border: none;
//         width: 100%;
//         height: 300px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // overflow: visible;

//         .pc-portrait-container-wrapper-inner {
//           position: absolute;
//           transform: translate(-50%, -50%);
//           top: 50%;
//           left: 50%;
//           height: 290px;
//           width: 200px;
//           // border: 2px dotted cyan;
//           overflow: hidden;
//         }

//         img {
//           position: absolute;
//           transform: translate(-50%, -50%);
//           top: 50%;
//           left: 50%;

//           &.pc-portrait {
//             scale: 1;
//             transform-origin: 0% 0%;
//             top: calc(50% + 40px);
//           }

//           &.pc-portrait-frame {
//             z-index: 1;
//             object-position: center;
//             height: 300px;
//             width: unset;
//             margin-right: -50%;
//           }
//         }
//       }
//     }
//   }
// }

#PCS-GM {
  width: calc(100vw - var(--sidebar-width));
  .pc-container {
    .pc-portrait-container-wrapper {
      position: relative;
      height: 140px;
      scale: 1;
      // top: 70px;
      .pc-portrait-container {
        scale: 1;
        top: 70px;
        left: 50%;
        // transform: translate(-50%, -50%);
        transform-origin: 0% 0%;

        &:hover,
        &.pc-portrait-container-dimmed:hover {
          transform: translate(-50%, calc(-50% - 2px)) scale(1.05);
          scale: 1.05;
          z-index: 2;
        }
      }
    }
  }
}
