<form class="{{cssClass}} {{#unless isGM}}uneditable{{/unless}}" autocomplete="off">

  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-header.hbs" }}

  <div class="forms kult-item-sheet">

    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-topper.hbs" }}

    {{#if hasTrigger}}
    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-trigger.hbs" }}
    {{/if}}

    {{#if hasEffect}}
    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-effect.hbs" }}
    {{/if}}

    {{#if hasRollResults}}
    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-roll-results.hbs" }}
    {{/if}}


    {{#if hasOptions}}
    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-options.hbs" }}
    {{/if}}
    {{#if hasSpecialFlag}}
    {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-special-flag.hbs" }}
    {{/if}}

  </div>
</form>
