@use "../globals/mixins" as *;
@use "../globals/functions" as *;

$rem-8: 8px;
$rem-10: 10px;
$rem-12: 12px;
$rem-14: 14px;
$rem-16: 16px;
$rem-18: 18px;
$rem-20: 20px;
$rem-22: 22px;
$rem-24: 24px;
$rem-28: 28px;
$rem-32: 32px;
$rem-40: 40px;
$rem-48: 48px;
$rem-56: 56px;
$rem-64: 64px;
$rem-72: 72px;
$rem-80: 80px;

#interface #ui-right #chat {
  min-height: 100%;
  position: relative;
  top: -32px;
  overflow: visible;
  padding: 0;
  // z-index: 1000;

  #chat-log {
    --debug-outline-opacity: 1;
    --debug-fill-opacity: 0.1;

    @include set-default-theme();

    --chat-text-color-dark: var(--K4-color-primary);
    --chat-font-size-small: #{$rem-12};
    --chat-line-height-small: calc(4 * var(--chat-font-size-small) / 3);
    --chat-font-size-large: #{$rem-14};
    --chat-line-height-large: calc(4 * var(--chat-font-size-large) / 3);

    --chat-vert-spacing: 64px;

    --chat-vert-padding-external: 0px;
    --chat-vert-padding-internal: 10px;
    --chat-vert-padding-total: calc(
      var(--chat-vert-padding-external) + var(--chat-vert-padding-internal)
    );
    --chat-horiz-padding-external: 0px;
    --chat-horiz-padding-internal: 10px;
    --chat-horiz-padding-total: calc(
      var(--chat-horiz-padding-external) + var(--chat-horiz-padding-internal)
    );

    --chat-intro-header-min-height: 30px;
    --chat-intro-header-max-height: calc(
      var(--chat-intro-header-min-height) + 20px
    );
    --chat-intro-header-dropcap-height: 120px;
    --chat-intro-header-dropcap-vert-shift: -12px;
    --chat-intro-header-dropcap-width: calc(
      0.5 * var(--chat-intro-header-dropcap-height)
    );
    --chat-intro-header-dropcap-horiz-shift: calc(
      0.5 * var(--chat-intro-header-dropcap-width) + 5px
    );
    --chat-intro-header-text-horiz-shift: calc(
      var(--chat-intro-header-dropcap-horiz-shift) + 20px
    );

    --chat-intro-header-icon-min-size: calc(
      var(--chat-intro-header-min-height) + var(--chat-vert-padding-internal)
    );
    --chat-intro-header-icon-max-size: calc(
      var(--chat-intro-header-max-height) + var(--chat-vert-padding-internal)
    );
    --chat-intro-header-icon-min-vert-shift: calc(
      var(--chat-intro-header-min-height) - var(
          --chat-intro-header-icon-min-size
        )
    );
    --chat-intro-header-icon-max-vert-shift: calc(
      var(--chat-intro-header-max-height) - var(
          --chat-intro-header-icon-max-size
        )
    );
    --chat-intro-header-icon-horiz-shift: 0px;
    --chat-intro-header-icon-vert-shift: 0px;
    --chat-intro-header-char-font-size: 26px;

    --chat-source-header-name-border-color: var(--K4-color-primary);
    --chat-source-header-name-bg-color: var(--K4-color-contrast-high);
    --chat-source-header-name-text-color: var(--K4-color-primary);
    --chat-source-header-name-font-size: 18px;
    --chat-source-header-name-vert-padding: 5px;

    --chat-dice-results-term-size: 40px;
    --chat-dice-results-term-container-size: calc(
      var(--chat-dice-results-term-size) + 20px
    );
    --chat-dice-results-dice-total-width: 80px;
    --chat-dice-results-gear-size: 200px;
    --chat-dice-results-gear-horiz-shift: calc(
      50% + 0.5 * var(--chat-dice-results-dice-total-width) +
        var(--chat-horiz-padding-internal)
    );
    --chat-dice-results-gear-img-horiz-shift: calc(
      -1 * (var(--chat-dice-results-gear-horiz-shift) - 50%)
    );
    --chat-dice-results-animation-scale: 0.075, 0.075;
    --chat-dice-results-animation-rotation: 0deg;

    --chat-outcome-main-font-size: 48px;
    --chat-outcome-sub-font-size: 18px;

    .chat-message {
      --K4-chat-border-image: #{to-url("chat/border-default.svg")};
      // --K4-color-primary: var(--K4-color-primary);
      width: calc(var(--sidebar-width) - 20px);
      margin: var(--chat-vert-spacing) 0 var(--chat-vert-spacing)
        calc(/* var(--sidebar-horiz-gutter) -  */ var(--scrollbar-width) + 20px);
      padding: 0;
      position: relative;
      background: transparent;
      left: -17px;
      border: none;
      color: var(--K4-color-primary);

      &::before, &::after {
        content: "";
        position: absolute;
        // width: 24px; /* Match your SVG width */
        // height: calc((100% + 2 * 24px) / var(--scaling-factor)); /* Extend by one link height */
        // background: #{to-url("chat/chain-link.svg")} repeat-y center/24px;
        z-index: -3;
        pointer-events: none;
        width: 32px; /* Match your SVG width */
        width: 24px;
        height: calc(100% + var(--chat-vert-spacing)); /* Extend by one link height */
        background: #{to-url("chat/chain-link.svg")} repeat-y center/24px;
        transform-origin: top center;
        transform: translate(0%, -50%);
      }

      &::before {
        left: 15%; /* Position left chain */
        top: calc(50% - 0.5 * var(--chat-vert-spacing)); /* Half link height up */
      }

      &::after {
        right: 15%; /* Position right chain */
        top: calc(50% - 0.5 * var(--chat-vert-spacing)); /* Half link height up */
      }

      &:last-child {
        margin-bottom: 20px;

        &:not(.not-animating) {
          .message-content {
            .eunos-chat {
              .roll-intro-header {
                .drop-cap,
                .roll-char-name,
                .roll-intro-line,
                .icon-container {
                  visibility: hidden;
                }
              }
              .roll-source-header {
                visibility: hidden;
                .roll-source-name {
                  visibility: hidden;
                }
              }
              .item-block.item-block-attack {
                visibility: hidden;
              }
              .roll-dice-results {
                .roll-dice-line {
                  .roll-term-container {
                    visibility: hidden;
                  }
                }
                .roll-total {
                  .roll-total-gear img,
                  .roll-total-number {
                    visibility: hidden;
                  }
                }
                .roll-modifiers > * {
                  visibility: hidden;
                }
                .roll-outcome > * {
                  visibility: hidden;
                }
              }
              .roll-dice-results ~ div,
              .roll-dice-results ~ label,
              .roll-dice-results ~ h2,
              .roll-dice-results ~ ul li {
                display: none;
                visibility: hidden;
                opacity: 0;
              }
            }
          }
        }
      }

      &.not-animating {
        .message-content {
          .eunos-chat {
            .roll-intro-header {
              .drop-cap {
                filter: var(--roll-drop-cap-filter, none);
              }
              .icon-container {
                filter: var(--roll-icon-filter, none);
              }
            }

            .roll-source-header {
              background: var(--roll-source-header-bg);
              border-color: var(--roll-source-header-border-color);
              filter: var(--roll-source-header-filter, none);
              .roll-source-name .roll-source-text {
                color: var(--roll-source-header-fg);
                text-shadow: build-text-shadow(
                  5px,
                  var(--roll-source-header-text-shadow-color),
                  6
                );
              }
            }
            .roll-dice-results {
              .roll-dice-line {
                .roll-term-container[class*="attribute"] {
                  transform: scale(0.64) translateY(-10px);
                  filter: var(--roll-total-filter, none);
                }
              }
              .roll-total {
                .roll-total-gear,
                .roll-total-number {
                  filter: var(--roll-total-filter, none);

                  &.roll-total-gear {
                    filter: var(
                        --roll-total-gear-filter,
                        var(--roll-total-filter, none)
                      )
                      blur(1.5px);
                  }
                }
              }
            }
          }
        }

        --K4-chat-border-image: #{to-url("chat/border-default.svg")};
        --K4-color-primary: var(--K4-bGOLD);

        --roll-source-header-fg: var(--K4-bBLACK);
        --roll-source-header-text-shadow-color: var(--K4-dBLACK);
        --roll-source-header-bg: var(--K4-dBLACK);
        --roll-source-header-border-color: var(--K4-bGOLD);

        &.roll-result-completeSuccess {
          --K4-chat-border-image: #{to-url("chat/border-success.svg")};
          --K4-color-primary: var(--K4-bbGOLD);

          --roll-source-header-fg: var(--K4-dBLACK);
          --roll-source-header-text-shadow-color: var(--K4-bGOLD);
          --roll-source-header-bg: #{to-url("backgrounds/texture-gold.webp")}
            center center / 300px repeat transparent;
          --roll-source-header-border-color: var(--K4-bbGOLD);
          --roll-icon-filter: brightness(2) contrast(1);

          --roll-result-fg: var(--K4-bbGOLD);
        }

        &.roll-result-partialSuccess {
          --K4-chat-border-image: #{to-url("chat/border-partial.svg")};
          --K4-color-primary: var(--K4-bGREY);

          --roll-drop-cap-filter: grayscale(1);

          --roll-source-header-fg: var(--K4-WHITE);
          --roll-source-header-text-shadow-color: var(--K4-dBLACK);
          --roll-source-header-bg: var(--K4-dBLACK);
          --roll-source-header-border-color: var(--K4-WHITE);
          --roll-icon-filter: grayscale(1) brightness(3);

          --roll-total-filter: grayscale(1);

          --roll-result-fg: var(--K4-bWHITE);
        }

        &.roll-result-failure {
          --K4-chat-border-image: #{to-url("chat/border-failure.svg")};
          --K4-color-primary: var(--K4-bRED);

          --roll-drop-cap-filter: sepia(0) brightness(0.5) saturate(3)
            hue-rotate(-45deg) saturate(1) contrast(5)
            drop-shadow(2px 2px 2px var(--K4-dBLACK));

          --roll-source-header-fg: var(--K4-dBLACK);
          --roll-source-header-text-shadow-color: var(--K4-bRED);
          --roll-source-header-bg: transparent
            #{to-url("backgrounds/texture-red.webp")} repeat repeat center
            center/300px;
          --roll-source-header-border-color: var(--K4-bbRED);
          --roll-icon-filter: sepia(5) brightness(0.65) saturate(5)
            hue-rotate(-45deg) contrast(2);

          --roll-total-filter: brightness(0.75) saturate(2) contrast(1);
          --roll-total-gear-filter: sepia(5) brightness(0.65) saturate(5)
            hue-rotate(-45deg) contrast(2);

          --roll-result-fg: var(--K4-bRED);
        }
      }

      .message-header {
        opacity: 0;
        transition: 0.25s;
        position: absolute;
        padding: 0 5px;
        height: 20px;
        top: 0px;
        left: -8px;
        border: 2px outset var(--K4-ddGOLD);
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: linear-gradient(
          var(--K4-ddGOLD),
          var(--K4-ddGOLD) 22px,
          transparent 24px
        );
        width: var(--sidebar-width);
        z-index: 3;

        &:hover {
          opacity: 1;
          top: -24px;
          height: 56px;
        }
      }
      --K4-chat-border-image: #{to-url("chat/border-default.svg")};

      .message-content {
        padding: var(--chat-vert-padding-external)
          var(--chat-horiz-padding-external);
        margin-top: -2px;
        margin-right: -1px;
        min-height: 42px;
        overflow: hidden;

        .trigger-words {
          filter: brightness(2) saturate(1.5);
        }

        .text-attributename,
        .key-word {
          font-weight: 700;
          @include neon-glow-soft(
            rgba(253, 253, 253),
            rgba(3, 247, 249, 0.561)
          );
        }

        .text-attributename,
        .text-attributename *,
        .key-word,
        .key-word * {
          color: var(--K4-bWHITE) !important;
        }
        .gm-move-text,
        .gm-move-text > *,
        .weapon-name {
          // @include neon-glow-soft(rgb(255, 159, 159), rgba(252, 31, 31, 0.5));
          color: var(--K4-bWHITE) !important;
          @include neon-glow-animated(red, var(--K4-bbRED), white);
        }

        .message-bg {
          position: absolute;
          height: 100%;
          width: 100%;
          border: 1px solid transparent;
          top: 0;
          left: 0;
          z-index: -2;
          border-image: var(--K4-chat-border-image) 58 8 fill/58px 8px/20px 8px
            36px 8px stretch;

          &.bg-base {
            z-index: -1;
          }

          &.bg-success {
            visibility: hidden;
            // z-index: 0;
            --K4-chat-border-image: #{to-url("chat/border-success.svg")};
          }
          &.bg-partial {
            visibility: hidden;
            // z-index: 0;
            --K4-chat-border-image: #{to-url("chat/border-partial.svg")};
          }
          &.bg-fail {
            visibility: hidden;
            // z-index: 0;
            --K4-chat-border-image: #{to-url("chat/border-failure.svg")};
          }
        }

        .item-block {
          background: var(--K4-BLACK);

          .item-header {
          }

          .item-body {
            padding: 0px 10px;
            line-height: var(--chat-line-height-large);
            > span,
            p {
              text-align: justify;
              color: var(--K4-bGOLD);
              display: block;
              width: 100%;
            }
          }
          ul,
          ul.rules-list,
          ul.inline-list {
            --K4-list-indent: 15px;
            li {
              text-align: left;
              color: var(--K4-bGOLD);
            }
          }


            ul {
              li::before {
                --list-bullet-image: #{to-url("icons/bullets/bullet-gold.svg")};
                content: "";
                background: transparent var(--list-bullet-image) no-repeat
                  center center/10px;
                margin-left: -22px;
                margin-right: 6px;
                height: 16px;
                width: 16px;
                display: inline-block;
                line-height: 16px;
                margin-top: 3px;
                margin-bottom: -3px;
                filter: brightness(2);
              }
            }

          &.item-block-gear {
            .item-header {
              display: block;
              text-align: center;
              width: 100%;
              font-weight: 1000;
              font-size: 1.25rem;
              filter: brightness(1.5) saturate(1);
              margin-top: 10px;
              img { display: none; }
            }

            .item-body {
              font-size: 13px;
            }
          }
        }

        .eunos-chat {
          &.wide-drop-cap {
            --chat-intro-header-dropcap-horiz-shift: calc(
              0.5 * var(--chat-intro-header-dropcap-width) + 20px
            );
            --chat-intro-header-text-horiz-shift: calc(
              var(--chat-intro-header-dropcap-horiz-shift) + 20px
            );
          }

          position: relative;
          z-index: 2;
          font-size: var(--chat-font-size-small);
          line-height: var(--chat-line-height-small);
          padding: var(--chat-vert-padding-internal)
            var(--chat-horiz-padding-internal);

          > span,
          li,
          p {
            text-align: justify;
            display: block;
            width: 100%;
          }

          .roll-intro-header,
          .roll-source-header {
            width: calc(100% + 2 * var(--chat-horiz-padding-internal));
            margin: 0 calc(-1 * var(--chat-horiz-padding-internal));
          }

          .roll-intro-header {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            height: var(--chat-intro-header-min-height);
            z-index: 3;
            --K4-icon-size: var(--chat-intro-header-icon-min-size);

            &.roll-intro-header-with-footer {
              height: var(--chat-intro-header-max-height);
              --K4-icon-size: var(--chat-intro-header-icon-max-size);

              .icon-container {
                top: var(--chat-intro-header-icon-max-vert-shift);
              }
            }

            .drop-cap {
              position: absolute;
              height: var(--chat-intro-header-dropcap-height);
              width: var(--chat-intro-header-dropcap-width);
              top: var(--chat-intro-header-dropcap-vert-shift);
              right: calc(100% - var(--chat-intro-header-dropcap-horiz-shift));
              transform-origin: center center;
              z-index: 4;
              filter: var(--drop-cap-filter),
                drop-shadow(2px 2px 2px var(--K4-dBLACK));
            }

            .roll-char-name {
              font-size: var(--chat-intro-header-char-font-size);
              font-weight: $font-weight-bold;
              font-family: var(--font-primary-smallcaps);
              text-transform: lowercase;
              color: var(--K4-color-primary);
              text-shadow: build-text-shadow(6px, var(--K4-dBLACK), 6);
              z-index: 3;
              padding-left: calc(
                var(--chat-intro-header-text-horiz-shift) - 20px
              );
              // --K4-color-primary: var(--K4-bbGOLD);
            }

            .roll-intro-line {
              display: block;
              text-align: center;
              font-size: $rem-16;

              .text-attributename {
                // filter: brightness(3) saturate(1.5);
              }
            }

            .icon-container {
              position: absolute;

              left: unset;
              // top: var(--chat-intro-header-icon-vert-shift);
              right: var(--chat-intro-header-icon-horiz-shift);
              background: transparent;
              transform-origin: 0% 100% !important;
              z-index: 2;
              clip-path: none;

              img {
                height: 40px;
                width: 40px;
              }
            }
          }

          .roll-source-header {
            border-top: solid 2px var(--chat-source-header-name-border-color);
            border-bottom: solid 2px var(--chat-source-header-name-border-color);
            background: var(--chat-source-header-name-bg-color);
            position: relative;
            z-index: 2;
            margin-top: 10px;
            margin-bottom: 10px;

            .roll-source-name {
              position: relative;

              .roll-source-text {
                --text-horiz-inset: calc(
                  var(--chat-intro-header-text-horiz-shift) - 20px
                );
                display: block;
                padding: var(--chat-source-header-name-vert-padding) 0px;
                width: calc(100% - 2 * var(--text-horiz-inset));
                margin-left: var(--text-horiz-inset);
                color: var(--chat-source-header-name-text-color);

                font-size: var(--chat-source-header-name-font-size);
                font-family: var(--font-primary-smallcaps);
                text-transform: lowercase;
                font-weight: $font-weight-black;
                text-align: center;
              }
            }

            .roll-source-source-name {
              margin-bottom: -18px;
              margin-top: 0%;
              display: block;
              width: min-content;
              margin-left: auto;
              white-space: nowrap;
              background: var(--K4-BLACK);
              line-height: $rem-14;
              padding-left: 10px;
              text-align: right;
              padding-right: 5px;
              font-size: $rem-10;
              font-style: italic;

              .roll-source-text {
                color: var(--K4-color-primary-glow);
                font-family: var(--font-primary-smallcaps);
                text-transform: lowercase;
                font-weight: 600;
                font-style: normal;
                font-size: $rem-14;
              }
            }

            &.roll-source-header-with-footer {
              margin-bottom: 20px;
            }
          }

          .item-block {
            &.item-block-attack {
              margin-bottom: 15px;
              width: calc(100% + 20px);
              margin-left: -10px;
              margin-top: -10px;
              padding: 0;
              .item-header {
                --fg-color: var(--K4-color-primary);
                .item-name {
                  background: var(--K4-dRED);
                }
              }

              .item-subheader {
                padding-top: 0px;
                padding-bottom: 0px;
                background: var(--K4-ddRED);
                border-radius: 0;
                flex-wrap: nowrap;

                * {
                  white-space: nowrap;
                }
                .item-harm::before {
                  content: "Harm: ";
                  color: var(--K4-color-primary);
                  text-transform: lowercase;
                  font-family: var(--font-primary-smallcaps);
                  text-shadow: none !important;
                }

                .item-ammo-cost {
                  .bullet-icon {
                    height: 14px;
                    width: 6px;
                    margin-bottom: 4px;
                    margin-top: 2px;
                    background: var(--K4-bbGOLD);
                    transform: none;
                  }
                }
              }

              .item-body {
                margin-top: -3px;
                .item-description {
                  // font-family: var(--font-primary);
                  // text-align: right;
                  font-style: italic;
                  color: var(--K4-bbGOLD);
                  background: var(--K4-ddRED);
                  padding-bottom: 0;
                }
              }
            }
          }

          &.chat-roll-result, &.chat-trigger-result {
            // color: var(--K4-color-primary);
            &.roll-result-completeSuccess {
              --roll-outcome-height: var(--chat-outcome-main-font-size);
              --list-bullet-image: #{to-url("icons/bullets/bullet-gold.svg")};
            }
            &.roll-result-partialSuccess {
              --roll-outcome-height: calc(
                var(--chat-outcome-main-font-size) +
                  var(--chat-outcome-sub-font-size)
              );
              --list-bullet-image: #{to-url("icons/bullets/bullet-white.svg")};
            }
            &.roll-result-failure {
              --roll-outcome-height: var(--chat-outcome-main-font-size);
              --list-bullet-image: #{to-url("icons/bullets/bullet-red.svg")};
            }

            ul {
              li::before {
                content: "";
                background: transparent var(--list-bullet-image) no-repeat
                  center center/10px;
                margin-left: -22px;
                margin-right: 6px;
                height: 16px;
                width: 16px;
                display: inline-block;
                line-height: 16px;
                margin-top: 3px;
                margin-bottom: -3px;
                filter: brightness(2);
              }
            }

            font-size: var(--chat-font-size-large);
            line-height: var(--chat-line-height-large);

            .roll-dice-results {
              display: grid;
              grid-template-areas:
                "roll-total roll-dice"
                "roll-total roll-modifiers"
                "roll-total roll-outcome";
              grid-template-columns:
                var(--chat-dice-results-dice-total-width)
                1fr;
              grid-template-rows:
                var(--chat-dice-results-term-container-size)
                1fr var(--roll-outcome-height);
              text-shadow: 0 0 1px var(--K4-BLACK) !important;
              position: relative;

              .roll-total {
                grid-area: roll-total;
                position: relative;

                .roll-total-gear {
                  position: absolute;
                  z-index: -1;
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: var(--chat-dice-results-gear-horiz-shift);
                  height: calc(var(--chat-dice-results-gear-size));
                  width: var(--chat-dice-results-gear-size);
                  overflow: hidden;

                  img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    filter: blur(1.5px);
                    opacity: 0.75;
                    left: var(--chat-dice-results-gear-img-horiz-shift);
                  }
                }

                .roll-total-number {
                  position: absolute;
                  transform-origin: center;
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: 50%;
                  filter: var(--roll-total-filter, none);
                }
              }
              .roll-dice-line {
                grid-area: roll-dice;
                display: flex;
                justify-content: space-evenly;
                position: relative;
                z-index: 1;

                .roll-term-container {
                  position: relative;
                  height: var(--chat-dice-results-term-container-size);
                  width: var(--chat-dice-results-term-container-size);
                  z-index: 1;

                  .attribute-flare,
                  .attribute-value,
                  .d10-front,
                  .d10-animation {
                    position: absolute;
                    height: calc(
                      1.15 * var(--chat-dice-results-term-container-size)
                    );
                    width: calc(
                      1.15 * var(--chat-dice-results-term-container-size)
                    );
                    max-width: unset;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;

                    img,
                    video {
                      transform: translate(-50%, -50%);
                      top: 50%;
                      left: 50%;
                      position: absolute;
                    }
                  }

                  &.roll-d10 {
                    transform: translateY(-10px) scale(0.8);
                    .d10-front {
                      z-index: 2;
                    }
                    .d10-animation {
                      width: 100%;
                      height: 90%;
                      -webkit-clip-path: polygon(
                        50% 5%,
                        94% 35%,
                        98% 52%,
                        90% 75%,
                        50% 97%,
                        9% 76%,
                        2% 52%,
                        6% 35%
                      );
                      clip-path: polygon(
                        50% 5%,
                        94% 35%,
                        98% 52%,
                        90% 75%,
                        50% 97%,
                        9% 76%,
                        2% 52%,
                        6% 35%
                      );
                      z-index: 1;
                      transform-origin: center;
                      transform: translate(-50%, -50%) scale(1.15);
                      background: var(--K4-dBLACK);
                      filter: saturate(5) hue-rotate(25deg) brightness(1.5);
                      video {
                        transform: translate(-50%, -50%)
                          scale(var(--chat-dice-results-animation-scale))
                          rotate(var(--chat-dice-results-animation-rotation));
                      }
                    }
                  }

                  &:first-child {
                    --chat-dice-results-animation-scale: -0.075, 0.075;
                    --chat-dice-results-animation-rotation: 45deg;
                  }

                  &[class*="attribute-"] {
                    position: relative;
                    transform-origin: center center;
                    z-index: 1;

                    img {
                      height: 400%;
                      width: 400%;
                    }

                    &.attribute-zero {
                      display: none;
                    }
                    &.attribute-fortitude,
                    &.attribute-reason,
                    &.attribute-coolness {
                      left: -5px;
                    }
                    &.attribute-reflexes,
                    &.attribute-intuition,
                    &.attribute-violence {
                      left: 5px;
                    }
                    &.attribute-reason,
                    &.attribute-intuition {
                      z-index: 0;
                    }
                  }
                }
              }
              .roll-modifiers {
                grid-area: roll-modifiers;
                position: relative;
              }
              .roll-outcome {
                grid-area: roll-outcome;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;

                > * {
                  // text-shadow: build-text-shadow(4px, var(--K4-dBLACK), 2);
                  color: var(--roll-result-fg);
                  white-space: nowrap;
                  font-family: var(--font-heading-2);
                }

                .roll-outcome-main {
                  font-size: var(--chat-outcome-main-font-size);
                  line-height: calc(var(--chat-outcome-main-font-size) + 16px);
                  font-weight: $font-weight-black;
                }
                .roll-outcome-sub {
                  font-size: var(--chat-outcome-sub-font-size);
                  line-height: var(--chat-outcome-sub-font-size);
                  text-align: right;
                  margin-right: 5px;
                  margin-top: -12px;
                  font-style: italic;
                  font-weight: $font-weight-bold;
                }
              }
            }

            .result-entry,
            .rules-top {
              margin: 0;
              position: relative;
              text-shadow: build-text-shadow(3px, var(--K4-dBLACK), 4);
              margin-top: 10px;
              > span {
                display: block;
                width: 100%;
                text-align: justify;
                margin: 0;
              }
            }

            &.chat-trigger-result {
              .roll-intro-line {
                font-family: var(--font-primary-smallcaps);
                font-weight: 1000;
                letter-spacing: 2px;
                font-size: 20px;
              }
              // visibility: visible !important;
            }
          }

          ul,
          ul.rules-list,
          ul.inline-list {
            --K4-list-indent: 15px;
            li {
              text-align: left;
            }
          }
        }


      }
    }
  }
}
