body #pause.paused,
#ui-left,
#ui-top,
#ui-bottom {
  display: none;
}

#macro-list {
  .macro-key {
    display: none;
  }
}

#quench-results {
  .window-content {
    #quench-batches {
      #quench-batches-list {
        .test-batch {
          > label {
            font-family: Voltaire;
            font-weight: normal;
            font-size: 14px;
          }
        }
      }
    }
  }
}

#tooltip {
  z-index: 200000 !important;
}

body.gm-user {

  #ui-middle {
    z-index: 20001;
  }

  #ui-bottom {
    bottom: unset;
    top: -10px;
    left: -50px;
    position: absolute;
    display: block;
    transform: translate(0%, 0);
    // background: red;
    scale: 0.8;
    // z-index: 100000;
    // right: 100px;
  }

  #PCS,
  #NPCS,
  #SAFETY-BUTTONS {
    display: none;
  }
}
