<div class="stone-carousel-container">
  <div class="stone-carousel">
    {{#each items}}
      <div class="stone-carousel-item" data-index="{{@index}}">
        <!-- Front and back faces (already implemented) -->
        <div class="stone-carousel-front"></div>
        <div class="stone-carousel-back"></div>

        <!-- New side faces -->
        <div class="stone-carousel-top"></div>
        <div class="stone-carousel-bottom"></div>
        <div class="stone-carousel-left"></div>
        <div class="stone-carousel-right"></div>

        <!-- Content remains on front face -->
        <div class="stone-carousel-content">
          {{#if this.description}}
            <p>{{this.description}}</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="stone-carousel-controls">
    <button class="prev-stone" data-action="prevStoneClick"><i class="fas fa-chevron-left"></i></button>
    <button class="next-stone" data-action="nextStoneClick"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
