<div class="stone-carousel-container">
  <div class="stone-carousel">
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-1.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-2.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-3.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-4.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-5.hbs"}}
    <div class="stone-carousel-base"></div>
  </div>
  <div class="stone-carousel-controls">
    <button class="prev-stone" data-action="prevStoneClick"><i class="fas fa-chevron-left"></i></button>
    <button class="next-stone" data-action="nextStoneClick"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
