<div class="stone-carousel-container">
  <div class="stone-carousel">
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-1.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-2.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-3.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-4.hbs"}}
    {{> "modules/eunos-kult-hacks/templates/apps/eunos-carousel/standing-stone-5.hbs"}}
    <div class="stone-carousel-base"></div>
  </div>
</div>
