<div class="stone-carousel-controls">
  <button class="prev-stone" data-action="prevStoneClick"><i class="fas fa-chevron-left"></i></button>
  <button class="next-stone" data-action="nextStoneClick"><i class="fas fa-chevron-right"></i></button>
</div>