<div class="standing-stone"
  data-index="2"
  style="height: 500px; width: 400px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>The Realm Accords</h1>

    <ol class="medium-block left-block realm-accords">
      <li>The dreamers of Ambergris and the wakened of Emma's Rise are bound to the Accords as they are bound to the Pact and these Stones.</li>
      <li>Stewardship of these Stones transfers upon the last stroke of moonset, seven suns per cycle, unless the Grove stands barren.</li>
      <li>The flow of trade shall be as the flow of the tide, to come and to go as the cycle demands.</li>
      <li>No dreamer of Ambergris may spill blood on waking soil; no wakened of Emma's Rise may speak untruths in the domain of dreams.</li>
    </ol>

    <p class="medium-block destiny-block">
      Wayfaring stranger to be feared, the slave you shaped in clay and Old Ash has slipped your leash to pace my Grove in porcelain guise. When the
      Ash's forgotten accounts are settled in emberscript, choose, and beg mercy: bind the sum to silence, or let its tally ignite my sap.
    </p>

  </div>
</div>
