<div class="standing-stone"
  data-index="4"
  style="height: 550px; width: 450px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>The Pact</h1>

    <p class="medium-block left-block" style="opacity: 0.5; filter: blur(1px);">
      Gather your innocents and set them to murder.<br />
      Release the victor for two and ten years.<br />
      Thus the Pact is stoked and rekindled anew.
    </p>
    <p class="medium-block left-block" style="opacity: 0.65;">
      In spring shall the Old Willow be kissed with fire,<br />
      pilgrims of Birao shall be the fuel.<br />
      Thus the Pact is stoked and rekindled anew.
    </p>
    <p class="medium-block left-block" style="opacity: 0.8;">
      Prepare the victor's throne for his return.<br />
      Nothing shall be denied him, for he is mine.<br />
      thus the Pact is stoked and rekindled anew.
    </p>
    <p class="medium-block left-block" style="opacity: 1;">
      Seal forever your wound to the mountain.<br />
      Think not of departure, for you are mine.<br />
      Thus the Pact is stoked and rekindled anew.
    </p>

    <p class="medium-block destiny-block align-bottom">
      Sleeper adrift, beware the friendly mask stitched in desperate colours. Trust bends like crystal-clear until it cuts. On this cycle's waning he comes to claim the dream you carry. Shattered truths mend only where the waking tread Limbo's glass.
    </p>

  </div>
</div>
