<div class="standing-stone"
  data-index="0"
  style="height: 650px; width: 375px;"
>
  <!-- Stone faces -->

    <div class="standing-stone-face standing-stone-front"></div>
    <div class="standing-stone-face standing-stone-back"></div>
    <div class="standing-stone-face standing-stone-top"></div>
    <div class="standing-stone-face standing-stone-left"></div>
    <div class="standing-stone-face standing-stone-right"></div>


  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    {{!-- Ranger Memorial --}}
    <h1>The Guard</h1>

    <table class="memorial-table">

      <tr style='opacity: 1;'><td>RANGER #212</td><td>-8 ~</td><td>STATION #1</td></tr>
      <tr style='opacity: 1;'><td>RANGER #232</td><td>-8 ~</td><td>STATION #1</td></tr>

      <tr><td></td><td></td><td></td></tr>

      <tr style='opacity: 1;'><td>RANGER #58</td><td>-126 ~</td><td>STATION #2</td></tr>

      <tr><td></td><td></td><td></td></tr>

      <tr style='opacity: 1;'><td>RANGER #196</td><td>-12 ~</td><td>STATION #3</td></tr>
      <tr style='opacity: 1;'><td>RANGER #203</td><td>-10 ~</td><td>STATION #3</td></tr>
      <tr style='opacity: 1;'><td>RANGER #208</td><td>-10 ~</td><td>STATION #3</td></tr>

      <tr><td></td><td></td><td></td></tr>

      <tr style='opacity: 1;'><td>RANGER #34</td><td class="narrow-cell" style="
    font-family: var(--stone-font-11);
    font-size: 24px;
    letter-spacing: 1px;
">NONLINEAR</td><td>STATION #4</td></tr>
      <tr style='opacity: 1;'><td>RANGER #198</td><td>-12 ~</td><td>STATION #4</td></tr>
      <tr style='opacity: 1;'><td>RANGER #214</td><td>-8 ~</td><td>STATION #4</td></tr>

    </table>

    {{!-- Lost Rangers --}}
    <h1>The Lost</h1>

    <div class="lost-rangers-wrapper">
      <div class="lost-rangers-table-wrapper">
        <table class="memorial-table lost-rangers-table">
        <tr class='lost-ranger-row' style='opacity: 0.36;'><td>RANGER II</td><td>-384 ~ -383</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER III</td><td>-383 ~ -382</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XVI</td><td>-316 ~ -314</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER XVIII</td><td>-308 ~ -306</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.39;'><td>RANGER XI</td><td>-341 ~ -302</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER XIV</td><td>-339 ~ -296</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.37;'><td>RANGER XXII</td><td>-291 ~ -282</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.43;'><td>RANGER XXXI</td><td>-279 ~ -278</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER V</td><td>-345 ~ -277</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER XXXII</td><td>-279 ~ -274</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER IV</td><td>-374 ~ -273</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER XXV</td><td>-285 ~ -257</td><td>POST I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.36;'><td>RANGER XXXVIII</td><td>-254 ~ -251</td><td>POST I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER XXXIX</td><td>-253 ~ -244</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER XLI</td><td>-245 ~ -243</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.43;'><td>RANGER XXXVI</td><td>-260 ~ -239</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XXXVII</td><td>-257 ~ -230</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XX</td><td>-302 ~ -206</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.38;'><td>RANGER L</td><td>-199 ~ -199</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER XV</td><td>-317 ~ -196</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER XXIX</td><td>-281 ~ -196</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER VI</td><td>-344 ~ -189</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.5;'><td>RANGER XXX</td><td>-281 ~ -189</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER XXI</td><td>-294 ~ -187</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER X</td><td>-342 ~ -183</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER XVII</td><td>-312 ~ -182</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XXXIV</td><td>-272 ~ -180</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER LIV</td><td>-172 ~ -172</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER XIX</td><td>-202 ~ -170</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XLIX</td><td>-211 ~ -170</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER LIII</td><td>-174 ~ -168</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XLV</td><td>-223 ~ -155</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XXIII</td><td>-291 ~ -153</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER #63</td><td>-157 ~ -146</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER #8</td><td>-344 ~ -145</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #70</td><td>-145 ~ -144</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER #13</td><td>-339 ~ -141</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER #52</td><td>-197 ~ -140</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER #35</td><td>-270 ~ -135</td><td>STATION #2</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.54;'><td>RANGER #43</td><td>-224 ~ -135</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #33</td><td>-272 ~ -124</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER #69</td><td>-145 ~ -120</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.6;'><td>RANGER #64</td><td>-157 ~ -115</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER #88</td><td>-111 ~ -110</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #40</td><td>-248 ~ -109</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.59;'><td>RANGER #24</td><td>-291 ~ -102</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.48;'><td>RANGER #93</td><td>-103 ~ -102</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER #60</td><td>-165 ~ -101</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.63;'><td>RANGER #72</td><td>-143 ~ -101</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER #86</td><td>-113 ~ -101</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #73</td><td>-142 ~ -100</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #77</td><td>-130 ~ -100</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #59</td><td>-165 ~ -93</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #46</td><td>-213 ~ -92</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #68</td><td>-148 ~ -89</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #66</td><td>-154 ~ -86</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #103</td><td>-86 ~ -84</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.67;'><td>RANGER #106</td><td>-86 ~ -84</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.5;'><td>RANGER #74</td><td>-138 ~ -82</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #62</td><td>-159 ~ -81</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #82</td><td>-121 ~ -75</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #110</td><td>-77 ~ -75</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #102</td><td>-86 ~ -71</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #90</td><td>-109 ~ -70</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.52;'><td>RANGER #96</td><td>-96 ~ -69</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.55;'><td>RANGER #101</td><td>-90 ~ -66</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #65</td><td>-155 ~ -65</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #80</td><td>-123 ~ -64</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #121</td><td>-64 ~ -64</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.68;'><td>RANGER #112</td><td>-73 ~ -63</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #116</td><td>-70 ~ -61</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.55;'><td>RANGER #85</td><td>-117 ~ -58</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #125</td><td>-58 ~ -58</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.56;'><td>RANGER #42</td><td>-226 ~ -57</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #61</td><td>-161 ~ -55</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #94</td><td>-102 ~ -51</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.72;'><td>RANGER #129</td><td>-52 ~ -49</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #55</td><td>-166 ~ -47</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #135</td><td>-50 ~ -47</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #131</td><td>-52 ~ -45</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.6;'><td>RANGER #95</td><td>-98 ~ -44</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #137</td><td>-50 ~ -44</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #51</td><td>-198 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.59;'><td>RANGER #91</td><td>-108 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #92</td><td>-106 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.67;'><td>RANGER #111</td><td>-74 ~ -43</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.63;'><td>RANGER #120</td><td>-65 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #109</td><td>-77 ~ -40</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #127</td><td>-54 ~ -39</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.82;'><td>RANGER #71</td><td>-144 ~ -38</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #145</td><td>-37 ~ -37</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #67</td><td>-153 ~ -35</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #78</td><td>-127 ~ -32</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.8;'><td>RANGER #89</td><td>-111 ~ -32</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #140</td><td>-42 ~ -32</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #98</td><td>-94 ~ -30</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #114</td><td>-72 ~ -30</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #128</td><td>-54 ~ -30</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #113</td><td>-73 ~ -29</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #143</td><td>-40 ~ -29</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #122</td><td>-61 ~ -27</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #157</td><td>-26 ~ -26</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #151</td><td>-31 ~ -25</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.89;'><td>RANGER #152</td><td>-30 ~ -25</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.68;'><td>RANGER #162</td><td>-25 ~ -25</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.9;'><td>RANGER #126</td><td>-58 ~ -24</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.81;'><td>RANGER #142</td><td>-40 ~ -24</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.72;'><td>RANGER #138</td><td>-50 ~ -23</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.78;'><td>RANGER #139</td><td>-47 ~ -23</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #165</td><td>-23 ~ -23</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.93;'><td>RANGER #170</td><td>-21 ~ -20</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.87;'><td>RANGER #174</td><td>-20 ~ -20</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #146</td><td>-32 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.84;'><td>RANGER #148</td><td>-32 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #175</td><td>-19 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #118</td><td>-66 ~ -17</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #166</td><td>-22 ~ -17</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #171</td><td>-21 ~ -17</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #104</td><td>-86 ~ -16</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #177</td><td>-19 ~ -16</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #179</td><td>-18 ~ -16</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.98;'><td>RANGER #124</td><td>-61 ~ -15</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #141</td><td>-40 ~ -15</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.95;'><td>RANGER #176</td><td>-19 ~ -15</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.89;'><td>RANGER #178</td><td>-18 ~ -15</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #150</td><td>-31 ~ -14</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #172</td><td>-21 ~ -14</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #183</td><td>-15 ~ -14</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #107</td><td>-81 ~ -13</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #161</td><td>-25 ~ -13</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #187</td><td>-13 ~ -13</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #156</td><td>-27 ~ -12</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #190</td><td>-12 ~ -12</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #79</td><td>-124 ~ -11</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.8;'><td>RANGER #97</td><td>-95 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.93;'><td>RANGER #149</td><td>-31 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #184</td><td>-15 ~ -11</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #201</td><td>-11 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #155</td><td>-27 ~ -9</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.97;'><td>RANGER #205</td><td>-9 ~ -9</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #158</td><td>-25 ~ -8</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.9;'><td>RANGER #167</td><td>-22 ~ -8</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.91;'><td>RANGER #173</td><td>-20 ~ -8</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.88;'><td>RANGER #204</td><td>-9 ~ -8</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #215</td><td>-8 ~ -8</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.95;'><td>RANGER #87</td><td>-112 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #154</td><td>-30 ~ -7</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #191</td><td>-12 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #203</td><td>-9 ~ -7</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #207</td><td>-9 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #216</td><td>-8 ~ -7</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #134</td><td>-51 ~ -6</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #159</td><td>-25 ~ -6</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #180</td><td>-17 ~ -6</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #186</td><td>-14 ~ -6</td><td>STATION #1</td></tr>
        </table>
      </div>

      <div class="lost-rangers-table-wrapper">
        <table class="memorial-table lost-rangers-table">
      <tr class='lost-ranger-row' style='opacity: 0.36;'><td>RANGER II</td><td>-384 ~ -383</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER III</td><td>-383 ~ -382</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XVI</td><td>-316 ~ -314</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER XVIII</td><td>-308 ~ -306</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.39;'><td>RANGER XI</td><td>-341 ~ -302</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER XIV</td><td>-339 ~ -296</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.37;'><td>RANGER XXII</td><td>-291 ~ -282</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.43;'><td>RANGER XXXI</td><td>-279 ~ -278</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER V</td><td>-345 ~ -277</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER XXXII</td><td>-279 ~ -274</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.35;'><td>RANGER IV</td><td>-374 ~ -273</td><td>POST IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER XXV</td><td>-285 ~ -257</td><td>POST I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.36;'><td>RANGER XXXVIII</td><td>-254 ~ -251</td><td>POST I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER XXXIX</td><td>-253 ~ -244</td><td>POST III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER XLI</td><td>-245 ~ -243</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.43;'><td>RANGER XXXVI</td><td>-260 ~ -239</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XXXVII</td><td>-257 ~ -230</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XX</td><td>-302 ~ -206</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.38;'><td>RANGER L</td><td>-199 ~ -199</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER XV</td><td>-317 ~ -196</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER XXIX</td><td>-281 ~ -196</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER VI</td><td>-344 ~ -189</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.5;'><td>RANGER XXX</td><td>-281 ~ -189</td><td>STATION III</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER XXI</td><td>-294 ~ -187</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER X</td><td>-342 ~ -183</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER XVII</td><td>-312 ~ -182</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.4;'><td>RANGER XXXIV</td><td>-272 ~ -180</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER LIV</td><td>-172 ~ -172</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER XIX</td><td>-202 ~ -170</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XLIX</td><td>-211 ~ -170</td><td>STATION II</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER LIII</td><td>-174 ~ -168</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XLV</td><td>-223 ~ -155</td><td>STATION I</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER XXIII</td><td>-291 ~ -153</td><td>STATION IV</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER #63</td><td>-157 ~ -146</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.41;'><td>RANGER #8</td><td>-344 ~ -145</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #70</td><td>-145 ~ -144</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.42;'><td>RANGER #13</td><td>-339 ~ -141</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER #52</td><td>-197 ~ -140</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.47;'><td>RANGER #35</td><td>-270 ~ -135</td><td>STATION #2</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.54;'><td>RANGER #43</td><td>-224 ~ -135</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #33</td><td>-272 ~ -124</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.44;'><td>RANGER #69</td><td>-145 ~ -120</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.6;'><td>RANGER #64</td><td>-157 ~ -115</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.45;'><td>RANGER #88</td><td>-111 ~ -110</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #40</td><td>-248 ~ -109</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.59;'><td>RANGER #24</td><td>-291 ~ -102</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.48;'><td>RANGER #93</td><td>-103 ~ -102</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER #60</td><td>-165 ~ -101</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.63;'><td>RANGER #72</td><td>-143 ~ -101</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.46;'><td>RANGER #86</td><td>-113 ~ -101</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #73</td><td>-142 ~ -100</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #77</td><td>-130 ~ -100</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #59</td><td>-165 ~ -93</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #46</td><td>-213 ~ -92</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #68</td><td>-148 ~ -89</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #66</td><td>-154 ~ -86</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.49;'><td>RANGER #103</td><td>-86 ~ -84</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.67;'><td>RANGER #106</td><td>-86 ~ -84</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.5;'><td>RANGER #74</td><td>-138 ~ -82</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #62</td><td>-159 ~ -81</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #82</td><td>-121 ~ -75</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #110</td><td>-77 ~ -75</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #102</td><td>-86 ~ -71</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.51;'><td>RANGER #90</td><td>-109 ~ -70</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.52;'><td>RANGER #96</td><td>-96 ~ -69</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.55;'><td>RANGER #101</td><td>-90 ~ -66</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #65</td><td>-155 ~ -65</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #80</td><td>-123 ~ -64</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #121</td><td>-64 ~ -64</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.68;'><td>RANGER #112</td><td>-73 ~ -63</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #116</td><td>-70 ~ -61</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.55;'><td>RANGER #85</td><td>-117 ~ -58</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #125</td><td>-58 ~ -58</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.56;'><td>RANGER #42</td><td>-226 ~ -57</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #61</td><td>-161 ~ -55</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #94</td><td>-102 ~ -51</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.72;'><td>RANGER #129</td><td>-52 ~ -49</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #55</td><td>-166 ~ -47</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #135</td><td>-50 ~ -47</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.57;'><td>RANGER #131</td><td>-52 ~ -45</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.6;'><td>RANGER #95</td><td>-98 ~ -44</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #137</td><td>-50 ~ -44</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.58;'><td>RANGER #51</td><td>-198 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.59;'><td>RANGER #91</td><td>-108 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #92</td><td>-106 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.67;'><td>RANGER #111</td><td>-74 ~ -43</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.63;'><td>RANGER #120</td><td>-65 ~ -43</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #109</td><td>-77 ~ -40</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.61;'><td>RANGER #127</td><td>-54 ~ -39</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.82;'><td>RANGER #71</td><td>-144 ~ -38</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #145</td><td>-37 ~ -37</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #67</td><td>-153 ~ -35</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #78</td><td>-127 ~ -32</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.8;'><td>RANGER #89</td><td>-111 ~ -32</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.74;'><td>RANGER #140</td><td>-42 ~ -32</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #98</td><td>-94 ~ -30</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #114</td><td>-72 ~ -30</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.7;'><td>RANGER #128</td><td>-54 ~ -30</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.69;'><td>RANGER #113</td><td>-73 ~ -29</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #143</td><td>-40 ~ -29</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.66;'><td>RANGER #122</td><td>-61 ~ -27</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.71;'><td>RANGER #157</td><td>-26 ~ -26</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #151</td><td>-31 ~ -25</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.89;'><td>RANGER #152</td><td>-30 ~ -25</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.68;'><td>RANGER #162</td><td>-25 ~ -25</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.9;'><td>RANGER #126</td><td>-58 ~ -24</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.81;'><td>RANGER #142</td><td>-40 ~ -24</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.72;'><td>RANGER #138</td><td>-50 ~ -23</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.78;'><td>RANGER #139</td><td>-47 ~ -23</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #165</td><td>-23 ~ -23</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.93;'><td>RANGER #170</td><td>-21 ~ -20</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.87;'><td>RANGER #174</td><td>-20 ~ -20</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #146</td><td>-32 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.84;'><td>RANGER #148</td><td>-32 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #175</td><td>-19 ~ -18</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #118</td><td>-66 ~ -17</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #166</td><td>-22 ~ -17</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #171</td><td>-21 ~ -17</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #104</td><td>-86 ~ -16</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.83;'><td>RANGER #177</td><td>-19 ~ -16</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #179</td><td>-18 ~ -16</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.98;'><td>RANGER #124</td><td>-61 ~ -15</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.79;'><td>RANGER #141</td><td>-40 ~ -15</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.95;'><td>RANGER #176</td><td>-19 ~ -15</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.89;'><td>RANGER #178</td><td>-18 ~ -15</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #150</td><td>-31 ~ -14</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #172</td><td>-21 ~ -14</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #183</td><td>-15 ~ -14</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #107</td><td>-81 ~ -13</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #161</td><td>-25 ~ -13</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #187</td><td>-13 ~ -13</td><td>STATION #5</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.76;'><td>RANGER #156</td><td>-27 ~ -12</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #190</td><td>-12 ~ -12</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.86;'><td>RANGER #79</td><td>-124 ~ -11</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.8;'><td>RANGER #97</td><td>-95 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.93;'><td>RANGER #149</td><td>-31 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #184</td><td>-15 ~ -11</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #201</td><td>-11 ~ -11</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #155</td><td>-27 ~ -9</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.97;'><td>RANGER #205</td><td>-9 ~ -9</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #158</td><td>-25 ~ -8</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.9;'><td>RANGER #167</td><td>-22 ~ -8</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.91;'><td>RANGER #173</td><td>-20 ~ -8</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.88;'><td>RANGER #204</td><td>-9 ~ -8</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.96;'><td>RANGER #215</td><td>-8 ~ -8</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.95;'><td>RANGER #87</td><td>-112 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #154</td><td>-30 ~ -7</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #191</td><td>-12 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.99;'><td>RANGER #203</td><td>-9 ~ -7</td><td>STATION #4</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #207</td><td>-9 ~ -7</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #216</td><td>-8 ~ -7</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #134</td><td>-51 ~ -6</td><td>STATION #3</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.85;'><td>RANGER #159</td><td>-25 ~ -6</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 1;'><td>RANGER #180</td><td>-17 ~ -6</td><td>STATION #1</td></tr>
<tr class='lost-ranger-row' style='opacity: 0.92;'><td>RANGER #186</td><td>-14 ~ -6</td><td>STATION #1</td></tr>
        </table>
        </div>
      </div>
    </div>
  </div>
