<div class="standing-stone"
  data-index="4"
  style="height: 650px; width: 450px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>The Pact</h1>

    <p class="medium-block left-block" style="opacity: 0.75;">
Cut thirteen daughters before their thirteenth spring.<br />
Give them to the Hollowood, to root and crystal.<br />
Thus the Pact is stoked and rekindled anew.
    </p>
    <p class="medium-block left-block" style="opacity: 0.75;">
      In spring shall the Old Willow be kissed with fire,<br />
      pilgrims of Birao shall be the fuel.<br />
      Thus the Pact is stoked and rekindled anew.
    </p>
    <p class="medium-block left-block" style="opacity: 1;">
  In ten and two years, set grown babes to murder.<br />
  For ten and two more, cast out the victor in exile.<br />
  Upon his return shall the Weeping King be crowned.
    </p>
    <p class="medium-block left-block" style="opacity: 1;">
	Seal forever your wound to the mountain.<br />
	Think not of departure, for you are mine.<br />
	Thus the Pact is stoked and rekindled anew.
    </p>

    <p class="medium-block destiny-block align-bottom" style="bottom: -20px; --body-text-font-family: var(--stone-font-5); letter-spacing: 0; --body-text-font-size: 24px; font-weight: normal;">
A call crossed through dreaming<br />
carried by memory carved in childhood skin<br /><br />

Awake before you, and wandered deeper<br />
Now fluent in the silence you fear<br /><br />

Beware false friends who dream too clearly<br /><br />

And when next the veil turns glass<br />
take someone waking with you<br /><br />
    </p>

  </div>
</div>
