<div class="standing-stone"
  data-index="2"
  style="height: 550px; width: 450px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>The Realm Accords</h1>

    <ol class="medium-block left-block realm-accords">
      <li>The dreamers of Ambergris and the wakened of Emma's Rise are bound to the Accords as they are bound to the Pact and these Stones.</li>
      <li>Stewardship of these Stones transfers upon the last stroke of moonset, seven suns per cycle, unless the Grove stands barren.</li>
      <li>The flow of trade shall be as the flow of the tide, to come and to go as the cycle demands.</li>
      <li>No dreamer of Ambergris may spill blood on waking soil; no wakened of Emma's Rise may speak untruths in the domain of dreams.</li>
    </ol>

    <p class="medium-block destiny-block" style="margin-top: -15px; --body-text-font-family: var(--stone-font-15); --body-text-line-height: 1.15; --body-text-font-size: 18px;">
          Hollow-crowned servant<br>
          you shaped dreamstuff from clay and ash<br>
          but forgot the leash<br><br>

          The Pact weakens with each memory lost<br>
          Ten trees tremble as one withers<br><br>

          When your dreaming bows to you again<br>
          speak the hand written word<br>
          you've carried since birth<br><br>

          The Hollow King awaits your failure
        </p>

  </div>
</div>
