<div class="standing-stone"
  data-index="3"
  style="height: 635px; width: 500px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>The Harrowing</h1>

    <ol class="medium-block left-block realm-accords">
      <li>Count the seconds between flashes: eight, it watches; six, it hunts; four, it burns, two; it kills.</li>
      <li>When white-fire dances, the heart must follow — shock what has been struck lest wayward go the spirit.</li>
      <li>Darkened lenses spare the living eye, rods of iron spare unliving land.</li>
    </ol>

    <p class="medium-block destiny-block" style="--body-text-font-family: var(--stone-font-16);--body-text-font-size: 22px;letter-spacing: 0px;margin-top: -30px;">
Where seven currents converge<br>
the path splits wide<br>
only you may follow it to its end<br><br>

Those you lost now linger between<br>
not to be saved, but remembered<br><br>

Beneath Emma's Rise, seek Emma's Fall<br>
where She once became Myth<br>
where You will become Legend
    </p>

    <p class="medium-block destiny-block rotate-right align-bottom" style="--body-text-font-family: var(--stone-font-12);--body-text-font-size: 22px;bottom: -10px;right: -40px;transform: rotateZ(0deg) scale(0.8); font-weight: normal;">
You stole a shell not meant for fur<br />
a name not meant for fang<br />
A borrowed life in the borrowed skin<br />
of He who hunts it still<br /><br />

Beast wove to beast<br />
stitched instinct to hunger<br />
until all saw with His eyes<br />
But you are not Him<br /><br />

You are No One<br>
You are Legion
    </p>

    <p class="medium-block destiny-block rotate-left align-bottom" style="--body-text-font-family: var(--stone-font-9);--body-text-font-size: 30px;bottom: 20px;left: -240px;">Why<br>Guide<br>The<br>Willow's<br>Five?</p>

    <p class="medium-block destiny-block rotate-left align-bottom" style="--body-text-font-family: var(--stone-font-11);--body-text-font-size: 30px;bottom: 70px;left: 160px;">I<br>Will<br>Not<br>Aid</p>

    <p class="medium-block destiny-block rotate-right align-bottom" style="--body-text-font-family: var(--stone-font-1);--body-text-font-size: 30px;font-weight: bold;bottom: 0px;right: -260px;">Nor I</p>

  </div>
</div>
