<div class="standing-stone"
  data-index="3"
  style="height: 635px; width: 500px;"
>
  <!-- Stone faces -->
  <div class="standing-stone-face standing-stone-front"></div>
  <div class="standing-stone-face standing-stone-back"></div>
  <div class="standing-stone-face standing-stone-top"></div>
  <div class="standing-stone-face standing-stone-left"></div>
  <div class="standing-stone-face standing-stone-right"></div>

  <!-- Content (dispayed on front face) -->
  <div class="standing-stone-content">

    <h1>To Live</h1>

    <ol class="medium-block left-block realm-accords">
      <li>Count the seconds between flashes: eight for ease, six for shelter, four for fire, two for terror.</li>
      <li>When white-fire dances, the heart must follow — shock what has been struck lest wayward go the spirit.</li>
      <li>Darkened lenses spare the living eye, rods of iron spare unliving land.</li>
    </ol>

    <p class="medium-block destiny-block">
      Where currents unseen surge to their confluence, the teacher must atone for what was lost by protecting what may yet live: Guard the Wild Ranger from his exiled soul, the Prodigal Son from jealous flame, the Kin from treason and tally, and the Broken Dreamer from the false friend.
    </p>

    <p class="medium-block destiny-block rotate-right align-bottom">
      Creatures of fur and claw share one stolen shell. When the Many at last beholds itself as Legion, the Hunter
      shall glimpse its true quarry in the anguish of humanity lost. From that reckoning, unity or ruin will stride forth on
      four-and-twenty unseen paws.
    </p>

  </div>
</div>
